{#
/**
 * Tilt Boilermaker - Generic Content Wrapper Block Template
 * -----
 * 
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_boilerplate/_macros/globalMacros' as gMacros %}

{# set variables for content child and style adjustment containers  #}
{% set contentKids = null %}
{% set styleAdjusts = null %}
{% for item in block.children.all() %}
	{% if item.type.handle == 'childrenWrapper' %}
		{% set contentKids = item %}
	{% elseif item.type.handle == 'styleAdjustmentsWrapper' %}
		{% set styleAdjusts = item %}
	{% endif %}
{% endfor %}

{# Set block id attribute value #}
{% if block.customId is defined and block.customId != '' %}
	{% set blockId = block.customId %}
	{% set headerId = block.customId ~ '-header' %}
{% else %}
	{% set blockId = 'wrapper-' ~ block.id %}
	{% set headerId = 'wrapper-' ~ block.id ~ '-header' %}	
{% endif %}

{# Set block type handle as class name for styling #}
{% set blockClass = 'elem-block ' ~ block.type.handle %}
{% set innerClass = 'inner ' ~ block.type.handle ~ '-inner' %}

{% if block.styleWrapper %}
	{% set innerClass = innerClass ~ ' ' ~ block.type.handle ~ '-inner-styled' %}
{% endif %}

{# Sort Out Styling Adjustments to set up class lit arrays #}

{# create arrays to collect style changes to primary element and inner and bg #}
{% set styleClasses = [] %}
{% set bgClasses = [] %}
{% set headerClasses = [] %}
{% set headerOuterClasses = [] %}
{% set bgSizes = [] %}
{% set outerClasses = [] %}

{% if styleAdjusts != null %}	
	
	{# Iterate through style sets in adjustment block and write out style adjustment classes to an array. #}
	
	{% for styleSet in clone(styleAdjusts.children).collect() %}
		{% set devSize = styleSet.deviceSize %}	
		{% set styleSetFieldLayout = styleSet.getFieldLayout() %}
		{% set styleSetFields = styleSetFieldLayout.getCustomFields() %}		
		
		{% for fieldItem in styleSetFields %}
			
			{# Leave out padding since it goes to a different element and leave out background fields #}			
			{% if fieldItem.handle != 'deviceSize' and fieldItem.handle != 'allBordersMatch' and not (fieldItem.handle ends with 'Margin') and not (fieldItem.handle starts with 'row') and not (fieldItem.handle ends with 'Color') and not (fieldItem.handle starts with 'column') and not (fieldItem.handle starts with 'background') and styleSet[fieldItem.handle]|length %}				
				{% set classItem = devSize ~ styleSet[fieldItem.handle] %}
				{%- set styleClasses = styleClasses|merge([classItem]) -%}
			{% endif %}
			
			{# add color classes #}
			{% if fieldItem.handle ends with 'Color' and fieldItem.handle != 'backgroundColor' and styleSet[fieldItem.handle] != null %}
				{% set classItem = devSize ~ styleSet[fieldItem.handle].class %}
				{%- set styleClasses = styleClasses|merge([classItem]) -%}
			{% endif %}
						
			{# Add outer settings to outerClasses array #}			
			{% if fieldItem.handle ends with 'Margin' and styleSet[fieldItem.handle]|length %}
				{% set classItem = devSize ~ styleSet[fieldItem.handle] %}
				{%- set outerClasses = outerClasses|merge([classItem]) -%}
			{% endif %}
					
		{% endfor %}
		
		{# Get main header styleset adjustments if any #}			
		{% set headerStyles = clone(styleSet.children).type('styleSetMainHeader').one() %}
		{% if headerStyles != null %}
			{% set headerFieldLayout = headerStyles.getFieldLayout() %}
			{% set headerFields = headerFieldLayout.getCustomFields() %}
			{% for fieldItem in headerFields %}						
				
				{% if fieldItem.handle != 'allBordersMatch' and not (fieldItem.handle ends with 'Margin') and not (fieldItem.handle ends with 'Color') and not (fieldItem.handle starts with 'background') and headerStyles[fieldItem.handle]|length %}					
					{% set classItem = devSize ~ headerStyles[fieldItem.handle] %}
					{%- set headerClasses = headerClasses|merge([classItem]) -%}
				{% endif %}	
				
				{# add color classes #}
				{% if fieldItem.handle ends with 'Color' and headerStyles[fieldItem.handle] != null %}
					{% set classItem = devSize ~ headerStyles[fieldItem.handle].class %}
					{%- set headerClasses = styleClasses|merge([classItem]) -%}
				{% endif %}
				
				{% if fieldItem.handle ends with 'Margin' and headerStyles[fieldItem.handle]|length %}
					{% set classItem = devSize ~ headerStyles[fieldItem.handle] %}
					{%- set headerOuterClasses = headerOuterClasses|merge([classItem]) -%}
				{% endif %}
				
			{% endfor %}
		{% endif %}
		
		{# set up background objects and drop into array. If no color and no image are set them skip styleset #}
		{% if (styleSet.backgroundColor.class is defined and styleSet.backgroundColor.class) or (styleSet.backgroundImage is defined and styleSet.backgroundImage|length) %}
			{% set bgItem  = {
				'devSize': devSize,
				'bgColor': styleSet.backgroundColor.class ?? '',
				'bgImg': styleSet.backgroundImage[0] ?? null,
				'bgSize': styleSet.backgroundSize ?? '',
				'bgPosition': styleSet.backgroundPosition ?? '',
				'bgRepeat': styleSet.backgroundRepeat ?? '',
				'bgOpacity': styleSet.backgroundOpacity ?? '',
				'bgImgOpacity': styleSet.backgroundImageOpacity ?? '',
			}		
			%}
			{% set bgClasses = bgClasses|merge([bgItem]) %}	
			{% set bgSizes = bgSizes|merge([devSize])%}	
		{% endif %}
				
	{% endfor %}	
{% endif %}


{# Get the component's "Custom Class List" setting, thru which arbitrary classes can be added to the component #}
{% set customClassString = (block['customClassList'] is defined ? block.customClassList : null) %}


{# set animation classes for reveal #}

{% set animClasses = [] %}
{% if block.revealAnimation is defined and block.revealAnimation != '' %}  
	{% set animClasses = animClasses|merge(['anim-wrapper', 'anim-child']) %}
	{% set revealClass = block.revealAnimation %}
	{% if block.animateChildren is not empty %}
		{% if block.animateChildren == true %}
			{% set animClasses = animClasses|merge(['anim-parent']) %}
			{% if block.staggerChildReveals is not empty %}
				{% if block.staggerChildReveals == true %}
					{% set revealClass = revealClass ~ '-stagger' %}
				{% endif %}
			{% endif %}
		{% else %}
			{% set animClasses = animClasses|merge(['anim-elem']) %}  		
		{% endif %}
	{% else %}
		{% set animClasses = animClasses|merge(['anim-elem']) %} 
	{% endif %}	
	{% set animClasses = animClasses|merge([revealClass]) %}	
{% endif %}

{# OUTPUT #}

<div {{ gMacros.buildElementAttributes(blockId, blockClass, outerClasses, customClassString) -}}> 	
	<div {{ gMacros.buildClassListBasic(animClasses) -}}>
		
		<div {{ gMacros.buildClassList(innerClass, styleClasses, null) -}}>
						
			{% if block.headerText|length and block.headingLevel and block.styleWrapper %} 
			<div {{ gMacros.buildElementAttributes(headerId, 'elem-block contentWrapper-header-outer', headerOuterClasses, null) -}}>
				
				<{{block.headingLevel}} {{ gMacros.buildClassList('inner contentWrapper-header', headerClasses, null) -}}>
					{{ gMacros.stripTags(block.headerText) }}
				</{{block.headingLevel}}>
				
			</div>
			{% endif %}
				
			{% if contentKids != null %}
				{% for child in clone(contentKids.children).collect() %}	  
					
					{#-
					For each child component, attempt to load a custom template for the
					component handle from the project's files,
					then the same template from the core Tiltrus files,
					then a custom default template from the project,
					and finally the default template for this component type from the core Tiltrus files.
					-#}
					
					{% if child.type.handle starts with 'row' %}
						  {%
							include [
							  '_project/_bodyblocks/rows/' ~ child.type.handle,
							  '_boilerplate/_bodyblocks/rows/' ~ child.type.handle,
							  '_project/_bodyblocks/rows/row',
							  '_boilerplate/_bodyblocks/rows/row'
							] with { 'row' :  child }
						  %}
					  {% elseif child.type.handle starts with 'repeater' %}
						  {%
							include [
							  '_project/_bodyblocks/repeaters/' ~ child.type.handle,
							  '_boilerplate/_bodyblocks/repeaters/' ~ child.type.handle,
							  '_project/_bodyblocks/repeaters/repeater',
							  '_boilerplate/_bodyblocks/repeaters/repeater'
							] with { 'repeater' :  child }
						  %}
					  {% elseif child.type.handle starts with 'accordion' %}
						{%
						  include [
							'_project/_bodyblocks/accordions/' ~ child.type.handle,
							'_boilerplate/_bodyblocks/accordions/' ~ child.type.handle,
							'_project/_bodyblocks/accordions/accordion',
							'_boilerplate/_bodyblocks/accordions/accordion'
						  ] with { 'accordion' :  child }
						%}
					  {% elseif child.type.handle starts with 'tabSet' %}
						{%
						  include [
							'_project/_bodyblocks/tabs/' ~ child.type.handle,
							'_boilerplate/_bodyblocks/tabs/' ~ child.type.handle,
							'_project/_bodyblocks/tabs/tabSet',
							'_boilerplate/_bodyblocks/tabs/tabSet'
						  ] with { 'tabSet' :  child }
						%}
					  {% elseif child.type.handle starts with 'tabPanel' %}
						{%
						  include [
							'_project/_bodyblocks/tabs/' ~ child.type.handle,
							'_boilerplate/_bodyblocks/tabs/' ~ child.type.handle,
							'_project/_bodyblocks/tabs/tabPanel',
							'_boilerplate/_bodyblocks/tabs/tabPanel'
						  ] with { 'tabPanel' :  child }
						%}
					  {% else %}
						  {%
							include [
							  '_project/_bodyblocks/blocks/' ~ child.type.handle,
							  '_boilerplate/_bodyblocks/blocks/' ~ child.type.handle,
							  '_project/_bodyblocks/blocks/block',
							  '_boilerplate/_bodyblocks/blocks/block'
							] ignore missing with { 'block' :  child }
						  %}
					  {% endif %}
					
				{% endfor %}
			{% endif %}			
		</div>
		<div class="background contentWrapper-default-bg {% if block.styleWrapper %}contentWrapper-styled-bg{% endif %}">
			{% if bgClasses != null %}		
				{{ gMacros.buildElementBackground(bgClasses, bgSizes, {'default': '100vw'}, null) }}
			{% endif %}		
		</div>			
	</div>     
</div>
