{#
/**
 * Tilt Boilermaker - Generic Small CTA Block Template
 * -----
 * 
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_boilerplate/_macros/globalMacros' as gMacros %}

{% set styleAdjusts = clone(block.children).type('styleAdjustmentsCtaSmall').one() %}
	
{# Set block id attribute value #}
{% if block.customId is defined and block.customId != '' %}
	{% set blockId = block.customId %}
	{% set headerId = block.customId ~ '-mainheader' %}
	{% set subId = block.customId ~ '-subhead' %}
	{% set introId = block.customId ~ '-intro' %}
	{% set btnId = block.customId ~ '-btn' %}
{% else %}
	{% set blockId = 'cta-small-' ~ block.id %}
	{% set headerId = 'cta-small-' ~ block.id ~ '-mainheader' %}
	{% set subId = 'cta-small-' ~ block.id ~ '-subhead' %}
	{% set introId = 'cta-small-' ~ block.id ~ '-intro' %}
	{% set btnId = 'cta-small-' ~ block.id ~ '-btn' %}
{% endif %}

{# Set block type handle as class name for styling #}
{% set blockClass = 'elem-block ' ~ block.type.handle %}
{% set innerClass = 'inner  ' ~ block.type.handle ~ '-inner' %}

{% set buttonLink = block.linkSettings %} {# no link settings, no button #}


{# Sort Out Styling Adjustments to set up class lit arrays #}

{# create arrays to collect style changes to primary element and inner and bg #}
{% set styleClasses = [] %}
{% set outerClasses = [] %}
{% set bgClasses = [] %}
{% set padClasses = [] %}
{% set headerClasses = [] %}
{% set subClasses = [] %}
{% set introClasses = [] %}
{% set headerOuterClasses = [] %}
{% set subOuterClasses = [] %}
{% set introOuterClasses = [] %}
{% set btnClasses = [] %}
{% set btnOuterClasses = [] %}
{% set btnWrapperClasses = [] %}

{% if styleAdjusts != null %}	
	{# add style changes to array except for padding because it isn't applied to primary element #}
		
	{# Iterate through style sets in adjustment block and write out style adjustment classes to an array. #}
		
	{% for styleSet in clone(styleAdjusts.children).collect() %}
		{% set devSize = styleSet.deviceSize %}		  
		{% set styleSetFieldLayout = styleSet.getFieldLayout() %}
		{% set styleSetFields = styleSetFieldLayout.getCustomFields() %}		
		{% for fieldItem in styleSetFields %}
		
			{# Leave out padding since it goes to a different element and leave out background fields #}			
			{% if fieldItem.handle != 'deviceSize' and fieldItem.handle != 'allBordersMatch' and fieldItem.handle != 'displaySetting' and not (fieldItem.handle ends with 'Margin') and not (fieldItem.handle starts with 'row') and not (fieldItem.handle ends with 'Color') and not (fieldItem.handle starts with 'column') and not (fieldItem.handle starts with 'background') and styleSet[fieldItem.handle]|length %}				
				{% set classItem = devSize ~ styleSet[fieldItem.handle] %}
				{%- set styleClasses = styleClasses|merge([classItem]) -%}
			{% endif %}
			
			{# add color classes #}
			{% if fieldItem.handle ends with 'Color' and fieldItem.handle != 'backgroundColor' and styleSet[fieldItem.handle] != null %}
				{% set classItem = devSize ~ styleSet[fieldItem.handle].class %}
				{%- set styleClasses = styleClasses|merge([classItem]) -%}
			{% endif %}
			
			{# Add margin settings to outerCLasses array #}			
			{% if fieldItem.handle ends with 'Margin' and styleSet[fieldItem.handle]|length %}
				{% set classItem = devSize ~ styleSet[fieldItem.handle] %}
				{%- set outerClasses = outerClasses|merge([classItem]) -%}
			{% endif %}
			
			{% if fieldItem.handle == 'displaySetting' and styleSet[fieldItem.handle]|length %}
				{% set classItem = devSize ~ styleSet[fieldItem.handle] %}
				{%- set outerClasses = outerClasses|merge([classItem]) -%}
			{% endif %}
			
			{# Add row layout classes to to rowClasses array #}			
			{% if fieldItem.handle starts with 'row' and styleSet[fieldItem.handle]|length %}
				{% set classItem = devSize ~ styleSet[fieldItem.handle] %}
				{%- set rowClasses = rowClasses|merge([classItem]) -%}
			{% endif %}	
			
		{% endfor %}
			
		{# Get main header styleset adjustments if any #}			
		{% set headerStyles = clone(styleSet.children).type('styleSetMainHeader').one() %}
		{% if headerStyles != null %}
			{% set headerFieldLayout = headerStyles.getFieldLayout() %}
			{% set headerFields = headerFieldLayout.getCustomFields() %}
			{% for fieldItem in headerFields %}						
				
				{% if fieldItem.handle != 'allBordersMatch' and fieldItem.handle != 'displaySetting' and not (fieldItem.handle ends with 'Margin') and not (fieldItem.handle ends with 'Color') and not (fieldItem.handle starts with 'background') and headerStyles[fieldItem.handle]|length %}					
					{% set classItem = devSize ~ headerStyles[fieldItem.handle] %}
					{%- set headerClasses = headerClasses|merge([classItem]) -%}
				{% endif %}	
				
				{# add color classes #}
				{% if fieldItem.handle ends with 'Color' and headerStyles[fieldItem.handle] != null %}
					{% set classItem = devSize ~ headerStyles[fieldItem.handle].class %}
					{%- set headerClasses = headerClasses|merge([classItem]) -%}
				{% endif %}
				
				{% if fieldItem.handle ends with 'Margin' and headerStyles[fieldItem.handle]|length %}
					{% set classItem = devSize ~ headerStyles[fieldItem.handle] %}
					{%- set headerOuterClasses = headerOuterClasses|merge([classItem]) -%}
				{% endif %}
				
				{% if fieldItem.handle == 'displaySetting' and headerStyles[fieldItem.handle]|length %}
					{% set classItem = devSize ~ headerStyles[fieldItem.handle] %}
					{%- set headerOuterClasses = headerOuterClasses|merge([classItem]) -%}
				{% endif %}
				
			{% endfor %}
		{% endif %}
		
		{# Get subhead styleset adjustments if any #}			
		{% if block.subheadText|length %}
			{% set subStyles = clone(styleSet.children).type('styleSetSubhead').one() %}
			{% if subStyles != null %}
				{% set subheadFieldLayout = subStyles.getFieldLayout() %}
				{% set subheadFields = subheadFieldLayout.getCustomFields() %}
				{% for fieldItem in subheadFields %}						
					
					{% if fieldItem.handle != 'allBordersMatch' and fieldItem.handle != 'displaySetting' and not (fieldItem.handle ends with 'Margin') and not (fieldItem.handle ends with 'Color') and not (fieldItem.handle starts with 'background') and subStyles[fieldItem.handle]|length %}					
						{% set classItem = devSize ~ subStyles[fieldItem.handle] %}
						{%- set subClasses = subClasses|merge([classItem]) -%}
					{% endif %}	
					
					{# add color classes #}
					{% if fieldItem.handle ends with 'Color' and subStyles[fieldItem.handle] != null %}
						{% set classItem = devSize ~ subStyles[fieldItem.handle].class %}
						{%- set subClasses = subClasses|merge([classItem]) -%}
					{% endif %}						
					
					{% if fieldItem.handle ends with 'Margin' and subStyles[fieldItem.handle]|length %}
						{% set classItem = devSize ~ subStyles[fieldItem.handle] %}
						{%- set subOuterClasses = subOuterClasses|merge([classItem]) -%}
					{% endif %}
					
					{% if fieldItem.handle == 'displaySetting' and subStyles[fieldItem.handle]|length %}
						{% set classItem = devSize ~ subStyles[fieldItem.handle] %}
						{%- set subOuterClasses = subOuterClasses|merge([classItem]) -%}
					{% endif %}
					
				{% endfor %}
			{% endif %}
		{% endif %}
		
		{# Get content text styleset adjustments if any #}
		
		{% if block.simpleText|length %}
			{% set introStyles = clone(styleSet.children).type('styleSetContentText').one() %}
			{% if introStyles != null %}
				{% set introFieldLayout = introStyles.getFieldLayout() %}
				{% set introFields = introFieldLayout.getCustomFields() %}
				{% for fieldItem in introFields %}						
					
					{% if fieldItem.handle != 'allBordersMatch' and fieldItem.handle != 'displaySetting' and not (fieldItem.handle ends with 'Margin') and not (fieldItem.handle ends with 'Color') and not (fieldItem.handle starts with 'background') and introStyles[fieldItem.handle]|length %}
						{% set classItem = devSize ~ introStyles[fieldItem.handle] %}
						{%- set introClasses = introClasses|merge([classItem]) -%}
					{% endif %}	
					
					{# add color classes #}
					{% if fieldItem.handle ends with 'Color' and introStyles[fieldItem.handle] != null %}
						{% set classItem = devSize ~ introStyles[fieldItem.handle].class %}
						{%- set introClasses = introClasses|merge([classItem]) -%}
					{% endif %}						
					
					{% if fieldItem.handle ends with 'Margin' and introStyles[fieldItem.handle]|length %}
						{% set classItem = devSize ~ introStyles[fieldItem.handle] %}
						{%- set introOuterClasses = introOuterClasses|merge([classItem]) -%}
					{% endif %}
					
					{% if fieldItem.handle == 'displaySetting' and introStyles[fieldItem.handle]|length %}
						{% set classItem = devSize ~ introStyles[fieldItem.handle] %}
						{%- set introOuterClasses = introOuterClasses|merge([classItem]) -%}
					{% endif %}
					
				{% endfor %}
			{% endif %}
		{% endif %}
	
		
		{# Get button group styleset adjustments if any #}		
								
		{% if buttonLink %}
			{% set btnGrpStyles = clone(styleSet.children).type('styleSetChildButtons').one() %}
			{% if btnGrpStyles != null %}					
				{% set btnGrpFieldLayout = btnGrpStyles.getFieldLayout() %}
				{% set btnGrpFields = btnGrpFieldLayout.getCustomFields() %}
				{% for fieldItem in btnGrpFields %}						
					{% if not (fieldItem.handle ends with 'Margin') and fieldItem.handle != 'displaySetting' and not (fieldItem.handle ends with 'Color') and not (fieldItem.handle starts with 'button') and btnGrpStyles[fieldItem.handle]|length %}
						{% set classItem = devSize ~ btnGrpStyles[fieldItem.handle] %}
						{%- set btnWrapperClasses = btnWrapperClasses|merge([classItem]) -%}
					{% endif %}									
					
					{% if fieldItem.handle ends with 'Margin' and btnGrpStyles[fieldItem.handle]|length %}
						{% set classItem = devSize ~ btnGrpStyles[fieldItem.handle] %}
						{%- set btnWrapperClasses = btnWrapperClasses|merge([classItem]) -%}
					{% endif %}
					
					{% if fieldItem.handle == 'displaySetting' and btnGrpStyles[fieldItem.handle]|length %}
						{% set classItem = devSize ~ btnGrpStyles[fieldItem.handle] %}
						{%- set displaySetting = displaySetting|merge([classItem]) -%}
					{% endif %}
					
					{# add button classes to child btn array #}
					{% if (fieldItem.handle starts with 'button') and not (fieldItem.handle ends with 'Color') and not (fieldItem.handle ends with 'Margin') and btnGrpStyles[fieldItem.handle]|length %}
						{% set classItem = devSize ~ btnGrpStyles[fieldItem.handle] %}
						{%- set btnClasses = btnClasses|merge([classItem]) -%}
					{% endif %}
					
					{# add color classes to btn classes #}
					{% if fieldItem.handle ends with 'Color' and btnGrpStyles[fieldItem.handle] != null %}
						{% set classItem = devSize ~ btnGrpStyles[fieldItem.handle].class %}
						{%- set btnClasses = btnClasses|merge([classItem]) -%}
					{% endif %}
												
					{# add button margin classes to array #}
					{% if (fieldItem.handle starts with 'button') and (fieldItem.handle ends with 'Margin') and btnGrpStyles[fieldItem.handle]|length %}
						{% set classItem = devSize ~ btnGrpStyles[fieldItem.handle] %}
						{%- set btnOuterClasses = btnOuterClasses|merge([classItem]) -%}
					{% endif %}	
									
				{% endfor %}
			{% endif %}
		{% endif %}
		
						
		{# set up background objects and drop into array. If no color and no image are set them skip styleset #}
		
		{% if (styleSet.backgroundColor.class is defined and styleSet.backgroundColor.class) or (styleSet.backgroundImage is defined and styleSet.backgroundImage|length) %}
			
			{% set bgItem = {
				'devSize': devSize,
				'bgColor': styleSet.backgroundColor.class ?? '',
				'bgImg': styleSet.backgroundImage[0] ?? null,
				'bgSize': styleSet.backgroundSize ?? '',
				'bgPosition': styleSet.backgroundPosition ?? '',
				'bgRepeat': styleSet.backgroundRepeat ?? '',
				'bgOpacity': styleSet.backgroundOpacity ?? '',
				'bgImgOpacity': styleSet.backgroundImageOpacity ?? '',
			}
			%}			
			{% set bgClasses = bgClasses|merge([bgItem]) %}	
			{% set bgSizes = bgSizes|merge([devSize])%}
			
		{% endif %}
				
	{% endfor %}

{% endif %}


{# Get the component's "Custom Class List" setting, thru which arbitrary classes can be added to the component #}
{% set customClassString = (block['customClassList'] is defined ? block.customClassList : null) %}


{# set animation classes for reveal #}

{% set animClasses = [] %}
{% if block.revealAnimation is defined and block.revealAnimation != '' %}  
	{% set animClasses = animClasses|merge(['anim-wrapper', 'anim-child']) %}
	{% set revealClass = block.revealAnimation %}
	{% if block.animateChildren is not empty %}
		{% if block.animateChildren == true %}
			{% set animClasses = animClasses|merge(['anim-parent']) %}
			{% if block.staggerChildReveals is not empty %}
				{% if block.staggerChildReveals == true %}
					{% set revealClass = revealClass ~ '-stagger' %}
				{% endif %}
			{% endif %}
		{% else %}
			{% set animClasses = animClasses|merge(['anim-elem']) %}  		
		{% endif %}
	{% else %}
		{% set animClasses = animClasses|merge(['anim-elem']) %} 
	{% endif %}	
	{% set animClasses = animClasses|merge([revealClass]) %}	
{% endif %}

{# OUTPUT #}

<div {{ gMacros.buildElementAttributes(blockId, blockClass, outerClasses, customClassString) -}}> 	
	<div {{ gMacros.buildClassListBasic(animClasses) -}}>
		<div {{ gMacros.buildClassList(innerClass, styleClasses, null) -}}>	
			
			{% if block.subheadText|length and block.subheadPosition == 1 %}
			  <div {{ gMacros.buildElementAttributes(subId, 'elem-block ctaSmall-subhead', subOuterClasses) -}}>
				<div class="anim-wrapper anim-child">
					<{{ block.subheadLevel }} {{ gMacros.buildClassList('inner  ctaSmall-subhead-inner', subClasses, null) -}}>
						{{ gMacros.stripTags(block.subheadText) }}
					</{{ block.subheadLevel }}>
				</div>
			  </div>
			{% endif %}
			
			{% if block.headerText|length and block.headingLevel != '' %}
				<div {{ gMacros.buildElementAttributes(headerId, 'elem-block ctaSmall-mainheader', headerOuterClasses, null) -}}>
				<div class="anim-wrapper anim-child">
					<{{ block.headingLevel }} {{ gMacros.buildClassList('inner ctaSmall-mainheader-inner', headerClasses, null) -}}>
						{{ gMacros.stripTags(block.headerText) }}
					</{{ block.headingLevel }}>
				</div>
				</div>
			{% endif %}
			
			{% if block.subheadText|length and block.subheadPosition == 0 %}
			  <div {{ gMacros.buildElementAttributes(subId, 'elem-block ctaSmall-subhead', subOuterClasses) -}}>
				<div class="anim-wrapper anim-child">
					<{{ block.subheadLevel }} {{ gMacros.buildClassList('inner ctaSmall-subhead-inner', subClasses, null) -}}>
						{{ gMacros.stripTags(block.subheadText) }}
					</{{ block.subheadLevel }}>
				</div>
			  </div>
			{% endif %}
			
			{% if block.simpleText|length %}				
				<div {{ gMacros.buildElementAttributes(introId, 'elem-block ctaSmall-intro', introOuterClasses, null) -}}>
					<div class="anim-wrapper anim-child">
						<div {{ gMacros.buildClassList('inner ctaSmall-intro-inner', introClasses, null) -}}>
							{{block.simpleText}}
						</div>
					</div>
				</div>
			{% endif %}  
			
						
			{% if buttonLink %}
				<div {{ gMacros.buildElementAttributes(null, 'elem-block ctSmall-btn-wrapper', btnWrapperClasses) -}}> 	
					<div class="anim-wrapper anim-child">
						<div {{ gMacros.buildClassList('inner ctaSmall-btn-wrapper-inner', btnOuterClasses, null) -}}>	
							<a href="{{ buttonLink.url }}" {{- buttonLink.target|length ? ' target="_blank"' : '' }} {{ gMacros.buildElementAttributes(btnId, 'btn btn-ctaSmall', btnClasses, null) -}} {% if buttonLink.ariaLabel|length %}aria-label="{{buttonLink.ariaLabel}}"{% endif %} {% if buttonLink.title|length %} title="{{buttonLink.title}}"{% endif %}>
							  <span>{{ buttonLink.getCustomText('More Info') }}</span>
							</a>
						</div>
					</div>
				</div>
			{% endif %}
						
		</div>
		<div class="background ctaSmall-default-bg">
			{% if bgClasses != null %}		
				{{ gMacros.buildElementBackground(bgClasses, bgSizes, {'default': '100vw'}, null) }}
			{% endif %}		
		</div> 				
	</div>     
</div>