{#
/**
 * Tilt Boilermaker - Generic Image Block Template
 * -----
 * 
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_boilerplate/_macros/globalMacros' as gMacros %}

{# Don't show if there isn't an image set #}
{% if block.imageAsset|length %}

	{% set image = block.imageAsset[0] %}	
	
	{# Set block id attribute value #}
	{% if block.customId is defined and block.customId != '' %}
	  {% set blockId = block.customId %}
	  {% set imageId = 'imageblock-' ~ block.customId ~ '-image' %}
	{% else %}
	  {% set blockId = 'imageblock-' ~ block.id %}
	  {% set imageId = 'imageblock-' ~ block.id ~ '-image' %}
	{% endif %}
	
	{# Set block type handle as class name for styling #}
	{% set blockClass = 'image-block' %}
	{% set innerClass = 'inner image-block-inner' %}
	{% set imageClass = 'content-image' %}	
	{% set loadClass = 'lazyload' %}
	{% set imageStyles = [imageClass, loadClass] %}	
	
			
	{# set alt text #}	
	{% set imageAltText = image.alt is defined and image.alt|length ? image.alt : image.title %}
	
	{# set outer tag depending on if element has caption or not #}
	{% if block.imageCaption != '' %}
		{% set outerTag = 'figure' %}
	{% else %}
		{% set outerTag = 'div' %}
	{% endif %}
	
	{# Sort Out Styling Adjustments to set up class lit arrays #}
	
	{# create arrays to collect style changes to primary element #}
	
	{% set outerClasses = [colorScheme, block.topMargin, block.bottomMargin] %}
	{% for mediaStyle in block.imageVideoLayout %}
		{% if mediaStyle.imageVideoSize != '' %}
			{% set outerClasses = outerClasses|merge([mediaStyle.deviceSize ~ mediaStyle.imageVideoSize]) %}
		{% endif %}
		{% if mediaStyle.textWrapPosition != '' %}
			{% set outerClasses = outerClasses|merge([mediaStyle.deviceSize ~ mediaStyle.textWrapPosition]) %}
		{% endif %}
	{% endfor %}	
		
	{# Get the component's "Custom Class List" setting, thru which arbitrary classes can be added to the component #}
	{% set customClassString = (block['customClassList'] is defined ? block.customClassList : null) %}
	
		
	{# set animation classes for reveal #}
	
	{% set revealClass = [] %}
	{% if block.revealAnimation == 'anim-child' %}	
		{% if block.animateChildren is not empty %}
			{% if block.animateChildren == true %}
				{% set revealClass = revealClass|merge(['anim-pass']) %}			
			{% else %}
				{% set revealClass = revealClass|merge([block.revealAnimation]) %}		
			{% endif %}
		{% else %}
			{% set revealClass = revealClass|merge([block.revealAnimation]) %}
		{% endif %}	
	{% else %}
		{% if block.animateChildren is not empty %}
			{% if block.animateChildren == true %}
				{% set revealClass = revealClass|merge(['anim-parent']) %}
				{% if block.staggerChildReveals is not empty %}
					{% if block.staggerChildReveals == true %}
						{% set revealClass = revealClass|merge([block.revealAnimation ~ '-stagger']) %}
					{% else %}
						{% set revealClass = revealClass|merge([block.revealAnimation]) %}
					{% endif %}
				{% endif %}			
			{% else %}
				{% set revealClass = revealClass|merge(['anim-elem', block.revealAnimation]) %}		
			{% endif %}
		{% else %}
			{% set revealClass = revealClass|merge(['anim-elem', block.revealAnimation]) %}
		{% endif %}			
	{% endif %}
	{% set outerClasses = outerClasses|merge(revealClass) %}
	
	{# OUTPUT #}
	
	<{{outerTag}} {{ gMacros.buildElementAttributes(blockId, blockClass, outerClasses, customClassString) -}}> 	
		
		<div class="{{innerClass}}">
			{% if block['linkSettings'].isEmpty() == false %}
				{% set imageLink = block.linkSettings %}
				<a href="{{ imageLink.url }}" title="{{ imageLink.text }}" {{- imageLink.target|length ? ' target="_blank"' : '' -}}>
		  	{% endif %}
			
			{% if image.mimeType == "image/svg+xml" %}		

				<img src="{{ image.url }}" alt="{{imageAltText}}" {{ gMacros.buildClassListBasic(imageStyles) -}}>
		
			{% else %}		
			
				{%- set transformedImages = craft.imagerx.transformImage(image, 'contentImage')	%}
				
				{% if craft.imager.serverSupportsWebp() %}
				  {% set transformedImagesWebp = craft.imagerx.transformImage(image, 'contentImageWebp') %}
				{% endif %}
				
				{% if transformedImages|length %}		  
				  
					<picture>						  
						{% if craft.imager.serverSupportsWebp() %}
							<source data-sizes="auto" data-srcset="{{ craft.imager.srcset(transformedImagesWebp) }}" type="image/webp">
						{% endif %}
					  
						<img src="{{ craft.imager.placeholder({width: image.width, height: image.height}) }}"
						  width="{{image.width}}"
						  height="{{image.height}}"
						  data-sizes="auto"
						  data-src="{{ transformedImages[0] }}"
						  data-srcset="{{ craft.imager.srcset(transformedImages) }}"
						  alt="{{ imageAltText }}" {{ gMacros.buildClassListBasic(imageStyles) -}}
						>
					</picture>
					  
				{% endif %}			  		  
			  
			{% endif %} 
			  
			{% if block['linkSettings'] is defined and block.linkSettings|length %}			
				</a>
			{% endif %}
			
			{% if block.imageCaption != '' %}
				<figcaption class="image-caption">
					{{ block.imageCaption }}						
				</figcaption>				  
			{% endif %}  
		</div>							
		     
	</{{outerTag}}>
{% endif %}