{#
/**
 * Tilt Boilermaker - Repeater Template - Cards
 * -----
 * Simple cards with title, excerpt and link
 * 
#}

{# Load in global macros for use across all Twig templates #}
{% import '_boilerplate/_macros/globalMacros' as gMacros %}

<div class="list-wrapper anim-pass">
<div class="repeater-list-card anim-pass">
{% for repeaterItem in repeaterData %}	
  <div class="elem-block repeater-list-item repeater-list-card-item">
	<div class="anim-wrapper anim-child">
	  <div class="inner repeater-list-card-item-inner">		          
		  <a href="{{ repeaterItem.url }}" {{ gMacros.buildClassList('repeater-list-card-item-link', null, null) -}}>
			<div {{ gMacros.buildClassList('item-wrapper repeater-list-card-item-card', listItemClasses, null) -}}>
				<{{ repeaterHeadingLevel }} {{ gMacros.buildClassList('repeater-list-card-item-header', listItemHeaderClasses, null) -}}>
				  {{ gMacros.stripTags(repeaterItem.title, '<b><strong><i><em><br>') }}
				</{{ repeaterHeadingLevel }}>
				{% if repeaterShowExcerpt and repeaterItem.excerpt|length %}	  		
					{{ repeaterItem.excerpt }}	  				 
				{% endif %}
			</div>
		  </a>        
	  </div>
	</div>
  </div>	
{% endfor %}
</div>
</div>