{#
/**
 * Tilt Boilermaker - Repeater Template - Cards
 * -----
 * Simple cards with title, excerpt and link
 * 
#}

{# Load in global macros for use across all Twig templates #}
{% import '_boilerplate/_macros/globalMacros' as gMacros %}
{% set itemClasses = ['anim-child', 'repeater-list-item', 'repeater-list-card-item'] %}
{% if repeaterRowCount is same as(1) %}
	{% set itemClasses = itemClasses|merge(['md:w-full']) %}
{% else %}
	{% for rowSize in repeaterRowCount %}
		{% set itemClasses = itemClasses|merge([rowSize.deviceSize ~ 'w-1/' ~ rowSize.itemCount]) %}
	{% endfor %}
{% endif %}
<div class="list-wrapper">
<div class="repeater-list-card">
{% for repeaterItem in repeaterData %}	
  <div {{ gMacros.buildClassListBasic(itemClasses) -}}>
	
	  <div class="inner repeater-list-card-item-inner h-full">		          
		  <a href="{{ repeaterItem.url }}" class="repeater-list-card-item-link">
			<div {{ gMacros.buildClassListBasic(['item-wrapper', 'repeater-list-card-item-card']) -}}>
				<{{ repeaterHeadingLevel }} class="repeater-list-card-item-header">
				  {{ gMacros.stripTags(repeaterItem.title, '<b><strong><i><em><br>') }}
				</{{ repeaterHeadingLevel }}>
				{% if repeaterShowDate and repeaterItem.postDate is defined and dateFormat != null %}	  		
					<div class="repeater-date">{{ repeaterItem.postDate | date(dateFormat) }}</div>	 
				{% endif %}
				{% if repeaterShowExcerpt and repeaterItem.excerpt|length %}	  		
					{{ repeaterItem.excerpt }}	  				 
				{% endif %}
			</div>
		  </a>        
	  </div>
	
  </div>	
{% endfor %}
</div>
</div>