{#
/**
 * Tilt Boilermaker - Repeater Template - Cards Small Image
 * -----
 * Simple cards with title, excerpt and link
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_boilerplate/_macros/globalMacros' as gMacros %}

{% set itemClasses = ['anim-child', 'repeater-list-item', 'repeater-list-card-img-sm-item'] %}
{% if repeaterRowCount is same as(1) %}
	{% set itemClasses = itemClasses|merge(['md:w-full']) %}
{% else %}
	{% for rowSize in repeaterRowCount %}
		{% set itemClasses = itemClasses|merge([rowSize.deviceSize ~ 'w-1/' ~ rowSize.itemCount]) %}
	{% endfor %}
{% endif %}

<div class="list-wrapper">
<div class="repeater-list-card-img-sm">
{% for repeaterItem in repeaterData %}
<div {{ gMacros.buildClassListBasic(itemClasses) -}}>
	
		<div class="inner repeater-list-card-img-sm-item-inner h-full">		          
			<a href="{{ repeaterItem.url }}" class="repeater-list-card-img-lg-item-link">
				<div {{ gMacros.buildClassListBasic(['item-wrapper', 'repeater-list-card-img-sm-item-card']) -}}>
					<div class="repeater-list-card-img-sm-item-card-row">
						<div class="repeater-list-card-img-sm-item-thumbnail-column">
							{% if repeaterItem.seoImage|length %}
								{% set image = repeaterItem.seoImage[0] %}
							{% else %}
								{% set image = siteGlobals.thumbnailPlaceholderImage[0] %}
							{% endif %}
							
							{%- set transformedImages = craft.imagerx.transformImage(image, 'thumbnail')	%}
							  
							{% if craft.imager.serverSupportsWebp() %}
								{% set transformedImagesWebp = craft.imagerx.transformImage(image, 'thumbnailWebp') %}
							{% endif %}
							  
							{% if transformedImages|length %}		  
							<picture>	  
								  
								  {% if craft.imager.serverSupportsWebp() %}
									  <source data-sizes="auto" data-srcset="{{ craft.imager.srcset(transformedImagesWebp) }}" type="image/webp">
								  {% endif %}
							  
								  <img src="{{ craft.imager.placeholder({width: 160, height: 90}) }}"
								  width="160"
								  height="90"
								  data-sizes="auto"
								  data-src="{{ transformedImages[0] }}"
								  data-srcset="{{ craft.imager.srcset(transformedImages) }}"
								  alt="{{ gMacros.stripTags(repeaterItem.title, '<b><strong><i><em><br>') }}" {{ gMacros.buildClassListBasic(['repeater-list-card-img-sm-item-thumbnail lazyload']) -}}
								  >
							</picture>
							{% endif %}  
						</div>
						<div class="repeater-list-card-img-sm-item-text-column">
							<{{ repeaterHeadingLevel }} class="repeater-list-card-img-sm-item-header">
							  {{ gMacros.stripTags(repeaterItem.title, '<b><strong><i><em><br>') }}
							</{{ repeaterHeadingLevel }}>
							{% if repeaterShowDate and repeaterItem.postDate is defined and dateFormat != null %}	  		
								<div class="repeater-date">{{ repeaterItem.postDate | date(dateFormat) }}</div>	 
							{% endif %}
							{% if repeaterShowExcerpt and repeaterItem.excerpt|length %}	  		
								{{ repeaterItem.excerpt }}	  				 
							{% endif %}	  
						</div>
					</div>	
				</div>
			</a>
		</div>
	
</div>
{% endfor %}
</div>
</div>