{#
/**
 * Tilt Boilermaker - Repeater Template - Cards Large Image
 * -----
 * Simple cards with title, excerpt and link
 * 
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_boilerplate/_macros/globalMacros' as gMacros %}

{% set styleClasses = [] %}
{% set outerClasses = [] %}
{% set headerClasses = [] %}
{% set imageClasses = [] %}


{% if itemAdjusts != null %}   
  {% set styleClasses = clone(itemAdjusts.children).type(['not','styleControlsMargins', 'styleControlsPadding', 'styleAdjustmentsMainHeader', 'styleControlsButton', 'styleControlsListImage']).collect() %}
  {% set imageClasses = clone(itemAdjusts.children).type('styleControlsListImage').collect() %}	
  {% set headerAdjusts = clone(itemAdjusts.children).type('styleAdjustmentsMainHeader').one() %}
  {% if headerAdjusts != null %}
	  {% for headerItem in clone(headerAdjusts.children).collect() %}
		  {% set headerClasses = headerClasses|merge([headerItem]) %}
	  {% endfor %}		
  {% endif %}  
{% endif %}

<div class="list-wrapper anim-pass">
<div class="repeater-list-card-img-lg anim-pass">
{% for repeaterItem in repeaterData %}	
  <div class="elem-block repeater-list-item repeater-list-card-img-lg-item">
	<div class="anim-wrapper anim-child">
	  <div class="inner repeater-list-card-img-lg-item-inner">		          
		  <a href="{{ repeaterItem.url }}" {{ gMacros.buildClassList('repeater-list-card-img-lg-item-link', null, null) -}}>
			<div {{ gMacros.buildClassList('item-wrapper repeater-list-card-img-lg-item-card', styleClasses, null) -}}>
				
				{% if repeaterItem.seoImage|length %}
					{% set image = repeaterItem.seoImage[0] %}
				{% else %}
					{% set image = siteGlobals.thumbnailPlaceholderImage[0] %}
				{% endif %}
				
				{%- set transformedImages = craft.imagerx.transformImage(image, 'thumbnail')	%}
				  
				{% if craft.imager.serverSupportsWebp() %}
					{% set transformedImagesWebp = craft.imagerx.transformImage(image, 'thumbnailWebp') %}
				{% endif %}
				  
				{% if transformedImages|length %}		  
				<picture>	  
					  
					  {% if craft.imager.serverSupportsWebp() %}
						  <source data-sizes="auto" data-srcset="{{ craft.imager.srcset(transformedImagesWebp) }}" type="image/webp">
					  {% endif %}
				  
					  <img src="{{ craft.imager.placeholder({width: 160, height: 90}) }}"
					  width="160"
					  height="90"
					  data-sizes="auto"
					  data-src="{{ transformedImages[0] }}"
					  data-srcset="{{ craft.imager.srcset(transformedImages) }}"
					  alt="{{ gMacros.stripTags(repeaterItem.title, '<b><strong><i><em><br>') }}" {{ gMacros.buildClassList('repeater-list-card-img-lg-item-thumbnail lazyload', imageClasses, null) -}}
					  >
				</picture>
				{% endif %}
				<div class="repeater-list-card-img-lg-item-textcontent">
					<{{ repeaterHeadingLevel }} {{ gMacros.buildClassList('repeater-list-card-img-lg-item-header', headerClasses, null) -}}>
					  {{ gMacros.stripTags(repeaterItem.title, '<b><strong><i><em><br>') }}
					</{{ repeaterHeadingLevel }}>
					{% if repeaterShowExcerpt and repeaterItem.excerpt|length %}	  		
						{{ repeaterItem.excerpt }}	  				 
					{% endif %}
				</div>
			</div>
		  </a>        
	  </div>
	</div>
  </div>	
{% endfor %}
</div>
</div>