{#
/**
 * Tilt Boilermaker - Repeater Template - Text 
 * -----
 * Simple cards with title, excerpt and link
 * 
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_boilerplate/_macros/globalMacros' as gMacros %}

<ul class="repeater-list-text anim-pass">
{% for repeaterItem in repeaterData %}	
	<li {{ gMacros.buildClassList('elem-block repeater-list-item repeater-list-text-item', listItemOuterClasses, null) -}}>
		<div class="anim-wrapper anim-child">
			<div {{ gMacros.buildClassList('inner repeater-list-text-item-inner', listItemClasses, null) -}}>
				<{{ repeaterHeadingLevel }} {{ gMacros.buildClassList('repeater-list-text-item-header', listItemHeaderClasses, null) -}}>
	  			<a href="{{ repeaterItem.url }}">{{ gMacros.stripTags(repeaterItem.title, '<b><strong><i><em><br>') }}</a>
				</{{ repeaterHeadingLevel }}>
				{% if repeaterShowExcerpt and repeaterItem.excerpt|length %}	  		
					<div>{{ repeaterItem.excerpt }}</div>	  				 
				{% endif %}
			</div>
		</div>
	</li>	
{% endfor %}
</ul>