{#
/**
 * Tilt Boilermaker - Standard Layout Column Template
 * -----
 * Loads the appropriate page partial or the default
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_macros/globalMacros' as gMacros %}

{# Create array for classes to pass to macros for section #}
{% set columnClassList = ['col-span-12'] %}
{% set gutterClassList = [] %}

{# Set block id attribute value #}
{% if entry.customId is defined and entry.customId != '' %}
	{% set blockId = entry.customId|replace({' ': '-'})|trim %}
{% else %}
	{% set blockId = 'column-' ~ entry.id %}
{% endif %}

{# Set block type handle as class name for styling #}
{% set blockClass = entry.type.handle|kebab %}

{# Get classes for element animation settings #}
{% if animSetting is defined %}
	{% if animSetting.animate and animSetting.animateContent and animSetting.animLevel %}
		{% set animate = true %}	
	{% else %}
		{% set animate = false %}		
	{% endif %}
{% else %}
	{% set animate = false %}
{% endif %}

{# Set color classes #}
{% if colorScheme is not defined %}
	{% set colorScheme = "color-theme-default" %}	
{% endif %}
{% set colorClasses = [] %}
{% if entry.colorScheme != null %}
	{% set colorScheme = entry.colorScheme.class %}	
{% endif %}
{% set colorClasses = colorClasses|merge([colorScheme]) %}
{% if entry.bgColor|length %}
	{% set colorClasses = colorClasses|merge(['bg-' ~ entry.bgColor]) %}
{% endif %}
{% set columnClassList = columnClassList|merge(colorClasses) %}

{# Set adjust sizeTracker #}
{% set multiplier = 1 %}
{% for key, values in sizeTracker %}
	{% set startWidth = values.size %}
	{% set unit = values.unit %}
	{% for layoutItem in entry.columnLayout %}
		{% if layoutItem.deviceSize == '' %}
			{% set trackerKey = 'df' %}
		{% else %}
			{% set trackerKey = layoutItem.layoutSize %}
		{% endif %}
		{% if trackerKey == key %}
			{% if layoutItem.columnWidth|length %}
				{% switch layoutItem.columnWidth %}
					{% case '1/6' %}					
						{% set multiplier = 0.16666667 %}
					{% case '1/4' %}					
						{% set multiplier = 0.25 %}
					{% case '1/3' %}					
						{% set multiplier = 0.33333333 %}
					{% case '5/12' %}					
						{% set multiplier = 0.41666667 %}
					{% case '1/2' %}					
						{% set multiplier = 0.5 %}
					{% case '7/12' %}					
						{% set multiplier = 0.58333333 %}
					{% case '2/3' %}					
						{% set multiplier = 0.66666667 %}
					{% case '3/4' %}					
						{% set multiplier = 0.75 %}
					{% case '5/6' %}					
						{% set multiplier = 0.83333333 %}
					{% default %}					
						{% set multiplier = 1 %}
				{% endswitch %}
			{% endif %}
		{% endif %}
	{% endfor %}
	{% set endWidth = (startWidth * multiplier)|round %}	
	{% set sizeTracker = sizeTracker|merge({(key):{'size': endWidth, 'unit': unit}}) %}	
{% endfor %}	
	

{# Set Layout Styles #}
{% for layoutItem in entry.columnLayout %}
	{% set devSize = layoutItem.layoutSize %}
	{% if devSize|length %}
		{% set devSize = devSize ~ ':' %}	
	{% endif %}
	{% if layoutItem.columnWidth|length %}
		{% switch layoutItem.columnWidth %}
			{% case '1/6' %}
				{% set colSizeClass = 'col-span-2' %}				
			{% case '1/4' %}
				{% set colSizeClass = 'col-span-3' %}				
			{% case '1/3' %}
				{% set colSizeClass = 'col-span-4' %}				
			{% case '5/12' %}
				{% set colSizeClass = 'col-span-5' %}				
			{% case '1/2' %}
				{% set colSizeClass = 'col-span-6' %}				
			{% case '7/12' %}
				{% set colSizeClass = 'col-span-7' %}				
			{% case '2/3' %}
				{% set colSizeClass = 'col-span-8' %}				
			{% case '3/4' %}
				{% set colSizeClass = 'col-span-9' %}				
			{% case '5/6' %}
				{% set colSizeClass = 'col-span-10' %}				
			{% default %}
				{% set colSizeClass = 'col-span-12' %}				
		{% endswitch %}
		{% set columnClassList = columnClassList|merge([devSize ~ colSizeClass]) %}
	{% endif %}
	{% if layoutItem.display|length %}
		{% set columnClassList = columnClassList|merge([devSize ~ layoutItem.display]) %}
	{% endif %}
	{% if layoutItem.columnOrder|length %}
		{% set columnClassList = columnClassList|merge([devSize ~ layoutItem.columnOrder]) %}
	{% endif %}
	{% if layoutItem.verticalAlignment|length %}
		{% set columnClassList = columnClassList|merge([devSize ~ layoutItem.verticalAlignment]) %}
	{% endif %}
	
{% endfor %}

{# Retrieve styling adjustments #}
{% set backgroundSettings = entry.backgroundSettings.eagerly().with('bgImg', 'bgVideo').all() %}

<div id="{{blockId}}" class="{{- blockClass }} {{ gMacros.displayClasses(entry.display)}} {{ gMacros.spacingClasses(entry.margins) }} {{ columnClassList|join(' ') }} {{ gutterClassList|join(' ') }} {{ entry.customClasses }}" {{ gMacros.attributesOut(entry.customAttributes) -}}>	
	<div class="inner column-inner {{- gMacros.typeClasses(entry.typeSettings) }} {{ gMacros.spacingClasses(entry.padding) }}">		
		{% for chunk in entry.elementContent %}
			{% if chunk.type == 'markup' %}
				{% if animate %}
					{{chunk|raw|retconAttr(['body > p', 'body > ol', 'body > ul'], { 'class' : 'animate' }, false)|retconAttr(['ul'], { 'class' : 'bullet-list' }, false)|typogrify}}
				{% else %}
					{{chunk|raw|retconAttr(['ul'], { 'class' : 'bullet-list' }, false)|typogrify}}
				{% endif %}
			{% else %}
				{{ chunk.entry.render({
					'animSetting': animSetting,
					'colorScheme': colorScheme,
					'sizeTracker': sizeTracker
				}) }}
			{% endif %}
		{% endfor %}							
	</div>
	<div class="background">
		{{ gMacros.buildElementBackground(backgroundSettings) }}
	</div>		
</div>

