{#
/**
 * Tilt Boilermaker - Heading Template
 * -----
 * Loads the appropriate page partial or the default
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_macros/globalMacros' as gMacros %}

{# Set block id attribute value #}
{% if entry.customId is defined and entry.customId != '' %}
	{% set blockId = entry.customId|replace({' ': '-'})|trim %}
{% else %}
	{% set blockId = 'header-' ~ entry.id %}
{% endif %}

{# Set block type handle as class name for styling #}
{% set blockClass = entry.type.handle|kebab %}

{# Get classes for element animation settings #}
{% if animSetting is defined %}
	{% if animSetting.animate and animSetting.animateContent and animSetting.animLevel %}
		{% set animate = true %}	
	{% else %}
		{% set animate = false %}		
	{% endif %}
{% else %}
	{% set animate = false %}
{% endif %}

{# set headingLevel if not defined from page header #}
{% if headingLevel is not defined or headingLevel == '' %}
	{% set headingLevel = entry.headingLevel|length ? entry.headingLevel : 'h2' %}
{% endif %}

{% if headlineStyle is not defined %}
	{% set headlineStyle = entry.headingStyle|length ? entry.headingStyle : 'headline-default' %}
{% endif %}

{# set subheadStyle if not defined from page header #}
{% if subheadStyle is not defined %}
	{% set subheadStyle = entry.subheadStyle|length ? entry.subheadStyle : 'subhead-default' %}
{% endif %}

{# Set color class #}
{% if colorScheme is not defined %}
	{% set colorScheme = "color-theme-default" %}	
{% endif %}



<{{entry.headingLevel}} id="{{blockId}}" class="{{ blockClass }} {% if animate %}animate{% endif %} {{ colorScheme }} {{ gMacros.displayClasses(entry.display)}} {{ gMacros.spacingClasses(entry.margins) }} {{ entry.customClasses }}" {{- gMacros.attributesOut(entry.customAttributes) }}>

	{% if entry.subheadText|length and entry.subheadPosition == 1 %}
		<span id="{{blockId}}-subhead" class="block {{ entry.subheadStyle}} {{ gMacros.typeClasses(entry.typeOverridesSubhead) }} mb-{{entry.subheadSpacing}} {% if entry.subheadColor|length %}text-{{ entry.subheadColor }}{% endif %}">		
			{{ gMacros.stripTags(entry.subheadText) }}			
		</span>
	{% endif %}

	<span class="header-main-text block m-0 {{ headlineStyle}} {{ gMacros.typeClasses(entry.typeSettingsMainHeadline) }} {% if entry.headlineColor|length %}text-{{ entry.headlineColor }}{% endif %}">{{ gMacros.stripTags(entry.mainHeadingText) }}</span>
	
	{% if entry.subheadText|length and entry.subheadPosition == 0 %}
		<span id="{{blockId}}-subhead" class="block {{ entry.subheadStyle}} {{ gMacros.typeClasses(entry.typeOverridesSubhead) }} mt-{{entry.subheadSpacing}} {% if entry.subheadColor|length %}text-{{ entry.subheadColor }}{% endif %}">		
			{{ gMacros.stripTags(entry.subheadText) }}			
		</span>
	{% endif %}
		
</{{entry.headingLevel}}>
