{#
/**
 * Tilt Boilermaker - Heading Template
 * -----
 * Loads the appropriate page partial or the default
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_macros/globalMacros' as gMacros %}

{# Set block id attribute value #}
{% if entry.customId is defined and entry.customId != '' %}
	{% set blockId = entry.customId|replace({' ': '-'})|trim %}
{% else %}
	{% set blockId = 'icon-block-' ~ entry.id %}
{% endif %}

{# Set block type handle as class name for styling #}
{% set blockClass = 'icon-block' %}

{# Get classes for element animation settings #}
{% if animSetting is defined %}
	{% if animSetting.animate and animSetting.animateContent and animSetting.animLevel %}
		{% set animate = true %}	
	{% else %}
		{% set animate = false %}		
	{% endif %}
{% else %}
	{% set animate = false %}
{% endif %}



{# set Layout Class #}
{% set layoutClasses = [] %}
{% set iconClasses = ['icon-wrapper'] %}
{% set contentClasses = ['icon-content-wrapper'] %}
{% if entry.blockLayout %}
	{% set layoutClasses = layoutClasses|merge(['icon-block-horizontal']) %}
	{% set layoutAdjustments = entry.iconBlockHorizLayoutAdjustments.eagerly().all() %}
{% else %}
	{% set layoutClasses = layoutClasses|merge(['icon-block-vertical']) %}
	{% set layoutAdjustments = entry.iconBlockVerticalLayoutAdjustments.eagerly().all() %}
{% endif %}


{% for layoutAdj in layoutAdjustments %}
	{% set devSize = layoutAdj.layoutSize %}
	{% if devSize|length %}
		{% set devSize = devSize ~ ':' %}	
	{% endif %}
	{% if layoutAdj.iconSize|length %}
		{% set iconClasses = iconClasses|merge([devSize ~ 'icon-' ~ layoutAdj.iconSize]) %}
	{% endif %}	
	{% if entry.blockLayout %}
		{% if layoutAdj.iconVerticalAlignment|length %}
			{% set layoutClasses = layoutClasses|merge([devSize ~ 'items-' ~ layoutAdj.iconVerticalAlignment]) %}
			{% set layoutClasses = layoutClasses|merge([devSize ~ 'gap-' ~ layoutAdj.iconSpacing]) %}
		{% endif %}
	{% else %}
		{% if layoutAdj.iconHorizontalAlignment|length %}
			{% set iconClasses = iconClasses|merge([devSize ~ 'justify-' ~ layoutAdj.iconHorizontalAlignment]) %}
			{% set layoutClasses = layoutClasses|merge([devSize ~ 'gap-' ~ layoutAdj.iconSpacing]) %}
		{% endif %}
	{% endif %}
	
{% endfor %}


{# set classes for icon #}
{% if colorScheme is not defined %}
	{% set colorScheme = "color-theme-default" %}	
{% endif %}
{% if entry.iconColor != '' %}
	{% set textColor = 'text-' ~ entry.textColor %}
{% else %}
	{% set textColor = '' %}
{% endif %}
{% set contentClasses = contentClasses|merge(['icon-content-wrapper']) %}
{% if entry.iconColor != '' %}
	{% set iconClasses = iconClasses|merge(['icon-' ~ entry.iconColor]) %}
{% else %}
	{% set iconClasses = iconClasses|merge([colorScheme]) %}
{% endif %}

<div id="{{blockId}}" class="{{ blockClass }} @container {{ colorScheme }} {% if animate %}animate{% endif %} {{ gMacros.displayClasses(entry.display)}} {{ gMacros.spacingClasses(entry.margins) }} {{ entry.customClasses }}" {{- gMacros.attributesOut(entry.customAttributes) }} >
	<div class="icon-layout {{ layoutClasses|join(' ') }}">
		<div class="{{- iconClasses|join(' ') }}">
			{% if  entry.icon.type == 'svg' %}
				{{  entry.icon.inline }}
			{% elseif entry.icon.type == 'css' %}
				<i class="{{ entry.icon }}"></i>								
			{% else %}
				<svg><use xlink:href="/dist/svg/ui-svg-sprites.svg#{{ entry.icon.value }}"></use></svg>
			{% endif %}
		</div>	
		{% if entry.blockContent|length %}
			<div class="{{- contentClasses|join(' ') }} {{ gMacros.typeClasses(entry.typeSettings) -}}">
				
				{% for chunk in entry.blockContent %}
					{% if chunk.type == 'markup' %}
						{{chunk|raw|retconAttr(['ul'], { 'class' : 'bullet-list' }, false)|typogrify}}					
					{% else %}
						{{ chunk.entry.render({
							'animSetting': {'animate': false, 'animateContent': false, 'animLevel': false},
							'colorScheme': colorScheme,							
						}) }}
					{% endif %}
				{% endfor %}
				
			</div>
		{% endif %}
	</div>	
</div>
