{#
/**
 * Tilt Boilermaker - Image Template
 * -----
 * Loads the appropriate page partial or the default
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_macros/globalMacros' as gMacros %}


{# Create array for classes to pass to macros for section #}
{% set imgClassList = [] %}

{% set image = entry.imageAsset.eagerly().one() %}

{# Set block id attribute value #}
{% if entry.customId is defined and entry.customId != '' %}
	{% set blockId = entry.customId|replace({' ': '-'})|trim %}
{% else %}
	{% set blockId = 'image-' ~ entry.id %}
{% endif %}

{# Set block type handle as class name for styling #}
{% set blockClass = "content-image" %}

{# Get classes for element animation settings #}
{% if animSetting is defined %}
	{% if animSetting.animate and animSetting.animateContent and animSetting.animLevel %}
		{% set animate = true %}	
	{% else %}
		{% set animate = false %}		
	{% endif %}
{% else %}
	{% set animate = false %}
{% endif %}

{# Set color classes #}
{% if colorScheme is not defined %}
	{% set colorScheme = "color-theme-default" %}	
{% endif %}
{% set colorClasses = [] %}
{% set colorClasses = colorClasses|merge([colorScheme]) %}
{% if entry.textColor|length %}
	{% set colorClasses = colorClasses|merge(['text-' ~ entry.textColor]) %}
{% endif %}
{% if entry.bgColor|length %}
	{% set colorClasses = colorClasses|merge(['bg-' ~ entry.bgColor]) %}
{% endif %}
{% set imgClassList = imgClassList|merge(colorClasses) %}



{# set outer tag depending on if element has caption or not #}
{% if entry.imageCaption != '' %}
	{% set outerTag = 'figure' %}
{% else %}
	{% set outerTag = 'div' %}
{% endif %}

{# OUTPUT #}
{% if image != null %}
	<{{outerTag}} id="{{blockId}}" class="{{- blockClass }} {% if animate %}animate{% endif %} {{ entry.artDirectImage ? gMacros.widthClasses(entry.imageArtDirection) : gMacros.widthClasses(entry.imageSize) }} {{ gMacros.displayClasses(entry.display, false)}} {{ gMacros.spacingClasses(entry.margins, false) }} {{ imgClassList|join(' ') }} {{ entry.customClasses }}" {{- gMacros.attributesOut(entry.customAttributes) }}>
		
		{% if entry.linkSettings!= null %}
			{% if entry.isModalLink %}
				{# modal #}
				{% set modalUrl = '/resources/entrymodal?entryid=' ~ entry.modalLinkSettings.element.id %}
				{% set modalEntry = craft.entries().id(entry.modalLinkSettings.element.id).one() %}
				{% if not craft.app.request.isAjax() %}
					<a id="{{blockId}}-link" x-ref="{{blockId}}-link" type="button" class="img-link {{ entry.linkCustomClasses }}" {% if entry.linkSettings.ariaLabel|length %}aria-label="{{entry.linkSettings.ariaLabel}}"{% endif %} {{- gMacros.attributesOut(entry.linkCustomAttributes) -}}
					
					x-on:click="focusEl='{{blockId}}-link'; $store.contentModal.open('{{modalUrl}}','{{modalEntry.title}}');"				
							 
					>						
				{% elseif modalEntry.section.handle == "pages" %}
					<a href="{{modalEntry.url}}" id="{{blockId}}-link" type="button" class="img-link {{ entry.linkCustomClasses }}" {% if entry.linkSettings.ariaLabel|length %}aria-label="{{entry.linkSettings.ariaLabel}}"{% endif %} {{- gMacros.attributesOut(entry.linkCustomAttributes) -}}>
				{% endif %}			
			{% else %}
				{# everything else #}
				<a href="{{entry.linkSettings.value}}" id="{{blockId}}-link" type="button" class="img-link {{ entry.linkCustomClasses }}" {% if entry.linkSettings.ariaLabel|length %}aria-label="{{entry.linkSettings.ariaLabel}}"{% endif %} {{-  entry.linkSettings.target|length ? ' target="_blank"' : '' }} {{- gMacros.attributesOut(entry.linkCustomAttributes) -}}>
			{% endif %}		
		{% endif %}
		
		{% if image.mimeType == "image/svg+xml" %}		
		
			{# for svg images just drop image in, don't mess with aspect ratio or transforms #}
			<img src="{{ image.url }}" alt="{{entry.altText}}" class="block w-full" loading="{{entry.lazyLoadImg ? 'lazy' : 'eager'}}">
		
		{% else %}		
			{# if entry is art directed, use art direction template if not use regular template #}
			{% if entry.artDirectImage %}
				{% include '_partials/images/adImage' with {'entry': entry, 'sizeTracker': sizeTracker} %}
			{% else %}
				{% include '_partials/images/regImage' with {'entry': entry, 'sizeTracker': sizeTracker} %}
			{% endif %}

		{% endif %}
		
		{% if entry.linkSettings != null %}
			</a>		
		{% endif %}
		
		{% if entry.imageCaption != '' %}
			<figcaption class="image-caption">
				{{ entry.imageCaption }}						
			</figcaption>				  
		{% endif %}
	</{{outerTag}}>
{% endif %}