{#
/**
 * Tilt Boilermaker - Side by Side Photo Section Template
 * -----
 * Loads the appropriate page partial or the default
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_macros/globalMacros' as gMacros %}

{# Class output macros #}
{% macro contentClasses(classSettings) %}
	{% set contentClasses = [] %}
	{% for key, value in classSettings %}		
		{% switch value.columnWidth %}
			{% case '1/6' %}
				{% set colSizeClass = 'col-span-2' %}				
			{% case '1/4' %}
				{% set colSizeClass = 'col-span-3' %}				
			{% case '1/3' %}
				{% set colSizeClass = 'col-span-4' %}				
			{% case '5/12' %}
				{% set colSizeClass = 'col-span-5' %}				
			{% case '1/2' %}
				{% set colSizeClass = 'col-span-6' %}				
			{% case '7/12' %}
				{% set colSizeClass = 'col-span-7' %}				
			{% case '2/3' %}
				{% set colSizeClass = 'col-span-8' %}				
			{% case '3/4' %}
				{% set colSizeClass = 'col-span-9' %}				
			{% case '5/6' %}
				{% set colSizeClass = 'col-span-10' %}				
			{% case 'full' %}
				{% set colSizeClass = 'col-span-12' %}				
		{% endswitch %}
		{% set contentClasses = contentClasses|merge([key ~ ':' ~ colSizeClass]) %}
		{% set contentClasses = contentClasses|merge([key ~ ':' ~ value.verticalAlignment]) %}
		{% set contentClasses = contentClasses|merge([key ~ ':' ~ value.contentPosition]) %}			
	{% endfor %}
	{{- contentClasses|join(' ') -}}
{% endmacro contentClasses %}

{% macro mediaColClasses(classSettings) %}
	{% set mediaColClasses = [] %}
	{% set contentClasses = [] %}
	{% for key, value in classSettings %}		
		{% switch value.columnWidth %}
			{% case '1/6' %}
				{% set colSizeClass = 'col-span-10' %}				
			{% case '1/4' %}
				{% set colSizeClass = 'col-span-9' %}				
			{% case '1/3' %}
				{% set colSizeClass = 'col-span-8' %}				
			{% case '5/12' %}
				{% set colSizeClass = 'col-span-7' %}				
			{% case '1/2' %}
				{% set colSizeClass = 'col-span-6' %}				
			{% case '7/12' %}
				{% set colSizeClass = 'col-span-5' %}				
			{% case '2/3' %}
				{% set colSizeClass = 'col-span-4' %}				
			{% case '3/4' %}
				{% set colSizeClass = 'col-span-3' %}				
			{% case '5/6' %}
				{% set colSizeClass = 'col-span-2' %}				
			{% case 'full' %}
				{% set colSizeClass = 'col-span-12' %}				
		{% endswitch %}
		{% set mediaColClasses = mediaColClasses|merge([key ~ ':' ~ colSizeClass]) %}					
	{% endfor %}	
	{{- mediaColClasses|join(' ') -}}
{% endmacro mediaColClasses %}


{# CREATE TRACKER ARRAY FOR ALL SETTINGS THAT STARTS WITH DEFAULTS #}

{% set adjSettings = entry.contentColumnLayout.eagerly().all() %}
{% if entry.mediaType %}
	{% set mediaAsset = entry.defaultVideo.eagerly().one() %}
	{% set mediaSettings = entry.videoSettings.eagerly().all() %}
{% else %}
	{% set mediaAsset = entry.defaultPhoto.eagerly().one() %}
	{% set mediaSettings = entry.imageSettings.eagerly().all() %}
{% endif %}

{% if entry.contentPositionSmall %}
	{% set positionClass = 'order-last' %}
{% else %}
	{% set positionClass = 'order-first' %}
{% endif %}

{% if entry.frameAspect != '' %}
	{% set frameClass = entry.frameAspect %}
{% else %}
	{% set frameClass = 'video' %}
{% endif %}

{% if entry.mediaPosition != '' %}
	{% set posClass = 'object-' ~ entry.mediaPosition %}
{% else %}
	{% set posClass = 'object-center' %}
{% endif %}

{% set allSettings = {
	'@md': {'columnWidth': '1/2', 'contentPosition': positionClass, 'gap': 'gap-section-x-base', 'verticalAlignment': 'self-center', 'mediaPosition': posClass, 'mediaAspect': 'video', 'frameAspect': frameClass, 'mediaAsset': null},
	'@lg': {'columnWidth': '1/2', 'contentPosition': positionClass, 'gap': 'gap-section-x-base', 'verticalAlignment': 'self-center', 'mediaPosition': posClass, 'mediaAspect': 'video', 'frameAspect': frameClass, 'mediaAsset': null},
	'@xl': {'columnWidth': '1/2', 'contentPosition': positionClass, 'gap': 'gap-section-x-base', 'verticalAlignment': 'self-center', 'mediaPosition': posClass, 'mediaAspect': 'video', 'frameAspect': frameClass, 'mediaAsset': null},
	'@2xl': {'columnWidth': '1/2', 'contentPosition': positionClass, 'gap': 'gap-section-x-base', 'verticalAlignment': 'self-center', 'mediaPosition': posClass, 'mediaAspect': 'video', 'frameAspect': frameClass, 'mediaAsset': null},
} %}

{% set newSettings = {'columnWidth': '1/2', 'contentPosition': positionClass, 'gap': 'gap-section-x-base', 'verticalAlignment': 'self-center', 'mediaPosition': posClass, 'mediaAspect': 'video', 'frameAspect': frameClass, 'mediaAsset': null} %}
{#cycle through sizes in order and compare settings from field to defaults, if they don't match, replace in the newSettings object to keep track of settings across sites then write to classSettings list when each cycle finishes #}
{% for key, value in allSettings %} 
	{% for layoutSetting in adjSettings %}		
		{% if layoutSetting.deviceSize == key %}			
			{% if layoutSetting.columnWidth != newSettings.columnWidth and layoutSetting.columnWidth != '' %}
				{% set newSettings = newSettings|merge({'columnWidth': (layoutSetting.columnWidth.value)}) %}			
			{% endif %}
			{% if layoutSetting.gutterSize != newSettings.gap and layoutSetting.gutterSize != '' %}
				{% set newSettings = newSettings|merge({'gap': 'gap-section-x-' ~ (layoutSetting.gutterSize.value)}) %}			
			{% endif %}
			{% if layoutSetting.columnPosition != newSettings.contentPosition and layoutSetting.columnPosition != '' %}
				{% set newSettings = newSettings|merge({'contentPosition': (layoutSetting.columnPosition.value)}) %}			
			{% endif %}
			{% if layoutSetting.verticalAlignment != newSettings.verticalAlignment and layoutSetting.verticalAlignment != '' %}
				{% set newSettings = newSettings|merge({'verticalAlignment': (layoutSetting.verticalAlignment.value)}) %}			
			{% endif %}			
		{% endif %}		
	{% endfor %}
	{% for mediaSetting in mediaSettings %}					
		{% if mediaSetting.deviceSize == key|slice(1) %}				
			{% if mediaSetting.frameAspect != newSettings.frameAspect and mediaSetting.frameAspect != '' %}				
				{% set newSettings = newSettings|merge({'frameAspect': (mediaSetting.frameAspect.value)}) %}			
			{% endif %}
			{% if not entry.mediaType %}
				{% if mediaSetting.mediaAspect != newSettings.mediaAspect and mediaSetting.mediaAspect != '' %}				
					{% set newSettings = newSettings|merge({'mediaAspect': (mediaSetting.mediaAspect.value)}) %}			
				{% endif %}
			{% endif %}
			{% if mediaSetting.mediaPosition != newSettings.mediaPosition and mediaSetting.mediaPosition != '' %}				
				{% set newSettings = newSettings|merge({'mediaPosition': 'object-' ~ (mediaSetting.mediaPosition.value)}) %}			
			{% endif %}
			{% if mediaSetting.imageAsset is not empty %}
				{% set newImg = mediaSetting.imageAsset.eagerly().one() %}
				{% set newSettings = newSettings|merge({'imageAsset': (newImg)}) %}
			{% endif %}	
		{% endif %}		
	{% endfor %}
	{% set allSettings = allSettings|merge({(key): (newSettings)}) %}
{% endfor %}


{# Create array for classes to pass to macros for section #}
{% set sectionClassList = [] %}


{# Set block id attribute value #}
{% if entry.customId is defined and entry.customId != '' %}
	{% set blockId = entry.customId|replace({' ': '-'})|trim %}
{% else %}
	{% set blockId = 'section-' ~ entry.id %}
{% endif %}

{# Set block type handle as class name for styling #}
{% set blockClass = entry.type.handle|kebab %}

{# Set color classes #}
{% set colorClasses = [] %}
{% if entry.colorScheme == null %}
	{% set colorScheme = "color-theme-default" %}	
{% else %}
	{% set colorScheme = entry.colorScheme.class %}
{% endif %}
{% set colorClasses = colorClasses|merge([colorScheme]) %}
{% if entry.bgColor|length %}
	{% set colorClasses = colorClasses|merge(['bg-' ~ entry.bgColor]) %}
{% endif %}
{% if entry.textColor|length %}
	{% set colorClasses = colorClasses|merge(['text-' ~ entry.textColor]) %}
{% endif %}
{% set sectionClassList = sectionClassList|merge(colorClasses) %}

{# add row gutter classes #}
{% for key, value in allSettings %} 
	{% set sectionClassList = sectionClassList|merge([(key) ~ ':' ~ (value.gap)]) %}
{% endfor %}



{# SET SIZETRACKER #}

{% set sizeTracker = {
	'@df': {'size': 90, 'unit': 'vw'},
	'@xs': {'size': 90, 'unit': 'vw'},
	'@sm': {'size': 90, 'unit': 'vw'},
	'@md': {'size': 90, 'unit': 'vw'},
	'@lg': {'size': 90, 'unit': 'vw'},
	'@xl': {'size': 90, 'unit': 'vw'},
	'@2xl': {'size': 90, 'unit': 'vw'},
} %}

{% for key, value in allSettings %}
	{% set startWidth = sizeTracker[(key)].size %}
	{% set unit = sizeTracker[(key)].unit %}
	{% set endWidth = '' %}
	{% switch allSettings[(key)].columnWidth %}
		{% case '1/6' %}
			{% set endWidth = (startWidth * 0.16666667)|round %}
		{% case '1/4' %}
			{% set endWidth = (startWidth * 0.25)|round %}
		{% case '1/3' %}
			{% set endWidth = (startWidth * 0.33333333)|round %}
		{% case '5/12' %}
			{% set endWidth = (startWidth * 0.41666667)|round %}
		{% case '1/2' %}
			{% set endWidth = (startWidth * 0.5)|round %}
		{% case '7/12' %}
			{% set endWidth = (startWidth * 0.58333333)|round %}
		{% case '2/3' %}
			{% set endWidth = (startWidth * 0.66666667)|round %}
		{% case '3/4' %}
			{% set endWidth = (startWidth * 0.75)|round %}
		{% case '5/6' %}
			{% set endWidth = (startWidth * 0.83333333)|round %}
		{% case 'full' %}
			{% set endWidth = startWidth %}			
	{% endswitch %}
	{% set sizeTracker = sizeTracker|merge({(key):{'size': endWidth, 'unit': unit}}) %}
{% endfor %}

<section id="{{blockId}}" class="{{- blockClass }} {{ gMacros.displayClasses(entry.display)}} {{ gMacros.spacingClasses(entry.margins, true) }} {{ sectionClassList|join(' ') }} {{ entry.customClasses }}" {{ gMacros.attributesOut(entry.customAttributes) }}
{% if entry.animate %}
	x-data="{{entry.type.handle}}({{entry.animateContent ? 'true': 'false'}},{{entry.staggerAnimations ? 'true': 'false'}})"	
	x-ref="{% if entry.animateContent %}animparent{% else %}animate{% endif %}"
{% endif %}>	
		
	<div class="side-media-content {{positionClass}} {{ _self.contentClasses(allSettings) }} {{ gMacros.typeClasses(entry.typeSettings) }} {{ gMacros.spacingClasses(entry.padding, true) }}">			
		{% for chunk in entry.elementContent %}
			{% if chunk.type == 'markup' %}
				{% if entry.animate and entry.animateContent %}
					{{chunk|raw|retconAttr(['body > p', 'body > ol', 'body > ul'], { 'class' : 'animate' }, false)|retconAttr(['ul'], { 'class' : 'bullet-list' }, false)|typogrify}}
				{% else %}
					{{chunk|raw|retconAttr(['ul'], { 'class' : 'bullet-list' }, false)|typogrify}}
				{% endif %}
			{% else %}
				{{ chunk.entry.render({
					'animSetting': {'animate': entry.animate, 'animateContent': entry.animateContent, 'animLevel': true},
					'colorScheme': colorScheme,
					'sizeTracker': sizeTracker
				}) }}
			{% endif %}
		{% endfor %}						
	</div>
	
	<div class="side-media-media {% if entry.animate and entry.animateContent %}animate{% endif %} {{ _self.mediaColClasses(allSettings) }}">
		{% set mediaClasses = ['w-full', 'h-full', 'object-cover'] %}
		{% if entry.mediaPosition != '' %}
			{% set mediaClasses = mediaClasses|merge(['object-' ~ entry.mediaPosition]) %}
		{% endif %}
		{% if entry.frameAspect != '' %}
			{% set mediaClasses = mediaClasses|merge(['aspect-' ~ entry.frameAspect]) %}
		{% endif %}
		{% for key, value in allSettings %}
			{% set mediaClasses = mediaClasses|merge([key ~ ':' ~ value.mediaPosition]) %}
			{% set mediaClasses = mediaClasses|merge([key ~ ':aspect-' ~ value.frameAspect]) %}
		{% endfor %}
		{% if entry.mediaType %}
			<video          
			  class="{{ mediaClasses|join(' ') }}"
			  aria-hidden="true"
			  role="presentation"
			  preload="{{entry.lazyLoadImg ? 'metadata' : 'auto'}}"
			  autoplay playsinline muted loop
			  src="{{ mediaAsset.url }}"
			  type="{{ mediaAsset.mimeType }}"
			  loading="{{entry.lazyLoadImg ? 'lazy' : 'eager'}}"			  
			></video>
		{% else %}
			<picture class="w-full relative">
				{% if entry.mediaAspect == '' %}
					{% set defAspect = 'video' %}
				{% else %}
					{% set defAspect = entry.mediaAspect %}
				{% endif %}
				{% set currentAspect = defAspect %}
				{% set srcObjects =  {
					'df': {'minSize': 0, 'aspect': currentAspect, 'image': mediaAsset, 'sizes': '100vw'},
					'xs': {'minSize': 320, 'aspect': null, 'image': null, 'sizes': '100vw'},
					'sm': {'minSize': 640, 'aspect': null, 'image': null, 'sizes': '100vw'},
					'md': {'minSize': 768, 'aspect': null, 'image': null, 'sizes': '100vw'},
					'lg': {'minSize': 1024, 'aspect': null, 'image': null, 'sizes': '100vw'},
					'xl': {'minSize': 1280, 'aspect': null, 'image': null, 'sizes': '100vw'},
					'2xl': {'minSize': 1536, 'aspect': null, 'image': null, 'sizes': '100vw'},		
				} %}

				{% for key, setting in allSettings %}
					{% set newKey = key|slice(1) %}					
					{% set origSrcObject = srcObjects[newKey] %}
					{% set newSrcObject = origSrcObject %}
					{% switch setting.columnWidth %}
						{% case '1/6' %}
							{% set imgSizeMultiplier = '5/6' %}
						{% case '1/4' %}
							{% set imgSizeMultiplier = '3/4' %}
						{% case '1/3' %}
							{% set imgSizeMultiplier = '2/3' %}
						{% case '5/12' %}
							{% set imgSizeMultiplier = '7/12' %}
						{% case '1/2' %}
							{% set imgSizeMultiplier = '1/2' %}
						{% case '7/12' %}
							{% set imgSizeMultiplier = '5/12' %}
						{% case '2/3' %}
							{% set imgSizeMultiplier = '1/3' %}
						{% case '3/4' %}
							{% set imgSizeMultiplier = '1/4' %}
						{% case '5/6' %}
							{% set imgSizeMultiplier = '1/6' %}
						{% case 'full' %}
							{% set imgSizeMultiplier = '1' %}
					{% endswitch %}
					{% set sizeVal = "calc(100vw * " ~ imgSizeMultiplier ~ ")" %}
					{% set newSrcObject = newSrcObject|merge({'sizes': sizeVal}) %}
					{% if setting.mediaAsset != null or setting.mediaAspect != null %}
						{% if setting.mediaAsset != null %}
							{% set image = setting.mediaAsset %}
							{% set newSrcObject = newSrcObject|merge({'image': image}) %}
						{% endif %}
						{% if setting.mediaAspect != '' %}				
							{% set currentAspect = setting.mediaAspect %}
							{% set newSrcObject = newSrcObject|merge({'aspect': currentAspect}) %}						
						{% endif %}												
					{% endif %}
					{% set srcObjects = srcObjects|merge({(newKey): newSrcObject}) %}					
				{% endfor %}
				
				{% set sizeAttr = '' %}
				{% for key, src in srcObjects|reverse %}
					{% set sizeAttr = sizeAttr ~ '(min-width: ' ~ src.minSize ~ 'px) ' ~ src.sizes ~ ',' %}
				{% endfor %}

				{% for sizeKey, srcSettings in srcObjects|reverse %}		
					{% if srcSettings.image != null or srcSettings.aspect != null %}
						{% if srcSettings.aspect == 'auto' or srcSettings.aspect == '' %}
							{% set xForm = 'contentImage' %}				
						{% else %}
							{% set xForm = 'image-' ~ srcSettings.aspect %}				
						{% endif %}
						{% set transformedImages = craft.imagerx.transformImage(srcSettings.image, xForm) %}
						{% if sizeKey == 'df' %}
							{% if srcSettings.aspect == 'auto' or srcSettings.aspect == '' %}				
								{% set xFormWidth = srcSettings.image.width %}
								{% set xFormHeight = srcSettings.image.height %}
							{% else %}				
								{% if srcSettings.aspect == 'video' %}
									{% set numerator = 16 %}
									{% set denominator = 9 %} 
								{% elseif srcSettings.aspect == 'square' %}
									{% set numerator = 1 %}
									{% set denominator = 1 %} 
								{% else %}
									{% set numerator = srcSettings.aspect|split('/')|first %}
									{% set denominator = srcSettings.aspect|split('/')|last %}        
								{% endif %}
								{% set xFormWidth = srcSettings.image.width %}				
								{% set xFormHeight = (srcSettings.image.width * denominator) / numerator %}				
							{% endif %}
							
							<img src="{{ craft.imager.placeholder({width: xFormWidth, height: xFormHeight}) }}"
								width="{{xFormWidth}}"
								height="{{xFormHeight}}"								
								{% if not entry.lazyLoadImg %}        
									fetchpriority="high"
									sizes="{{sizeAttr}}"
								{% else %}
									sizes="auto"     
								{% endif %}    
								srcset="{{ craft.imager.srcset(transformedImages) }}"
								alt="{{ entry.altText }}"
								class="{{mediaClasses|join(' ')}}"
								loading="{{entry.lazyLoadImg ? 'lazy' : 'eager'}}"
								decoding="async"
							>
						{% else %}
							<source sizes="{{entry.lazyLoadImg ? 'auto' : sizeAttr}}" media="(min-width: {{srcSettings.minSize}}px)" srcset="{{ craft.imager.srcset(transformedImages) }}" {% if craft.imager.serverSupportsWebp() %}type="image/webp"{% endif %}>
						{% endif %}
					{% endif %}
				{% endfor %}

			</picture>
		{% endif %}
	</div>		
	
</section>

