{#
/**
 * Tilt Boilermaker - Standard Page Section Template
 * -----
 * Loads the appropriate page partial or the default
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_macros/globalMacros' as gMacros %}

{# Create array for classes to pass to macros for section #}
{% set sectionClassList = [] %}

{# Set block id attribute value #}
{% if entry.customId is defined and entry.customId != '' %}
	{% set blockId = entry.customId|replace({' ': '-'})|trim %}
{% else %}
	{% set blockId = 'section-' ~ entry.id %}
{% endif %}

{# Set block type handle as class name for styling #}
{% set blockClass = entry.type.handle|kebab %}

{# Set color classes #}
{% set colorClasses = [] %}
{% if entry.colorScheme == null %}
	{% set colorScheme = "color-theme-default" %}	
{% else %}
	{% set colorScheme = entry.colorScheme.class %}
{% endif %}
{% set colorClasses = colorClasses|merge([colorScheme]) %}
{% if entry.bgColor|length %}
	{% set colorClasses = colorClasses|merge(['bg-' ~ entry.bgColor]) %}
{% endif %}
{% if entry.textColor|length %}
	{% set colorClasses = colorClasses|merge(['text-' ~ entry.textColor]) %}
{% endif %}
{% set sectionClassList = sectionClassList|merge(colorClasses) %}

{# set size tracking object to help with image sizes attributes #}
{% set sizeTracker = {
	'df': {'size': 90, 'unit': 'vw'},
	'xs': {'size': 90, 'unit': 'vw'},
	'sm': {'size': 90, 'unit': 'vw'},
	'md': {'size': 90, 'unit': 'vw'},
	'lg': {'size': 90, 'unit': 'vw'},
	'xl': {'size': 90, 'unit': 'vw'},
	'2xl': {'size': 90, 'unit': 'vw'},
} %}

{# Retrieve styling adjustments #}
{% set backgroundSettings = entry.backgroundSettings.eagerly().with('bgImg', 'bgVideo').all() %}

<section id="{{blockId}}" class="{{- blockClass }} {{ gMacros.displayClasses(entry.display)}} {{ gMacros.spacingClasses(entry.margins, true) }} {{ sectionClassList|join(' ') }} {{ entry.customClasses }}" {{- gMacros.attributesOut(entry.customAttributes) }}>
	
<div class="inner section-inner {{- gMacros.typeClasses(entry.typeSettings) -}} {{- gMacros.spacingClasses(entry.padding, true) -}}">			
	{% for chunk in entry.elementContent %}
		{% if chunk.type == 'markup' %}
			{{chunk|raw|retconAttr(['ul'], { 'class' : 'bullet-list' }, false)|typogrify}}			
		{% else %}
			{{ chunk.entry.render({				
				'colorScheme': colorScheme,						
				'sizeTracker': sizeTracker
			}) }}
		{% endif %}
	{% endfor %}							
</div>		
	
	<div class="background-wrapper">
		{{ gMacros.buildElementBackground(backgroundSettings) }}
	</div>	
</section>
