{#
/**
 * Repeater Template - Cards
 * -----
 * Simple cards with title, excerpt and link
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2020, TILT, LLC
 * @link      https://tiltbuilt.com
 * @package   tiltrus
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import 'bodyblocks/_core/_macros/globalMacros' as gMacros %}
{# Load in _core Tiltrus Element Display Controls macros #}
{% import 'bodyblocks/_core/_macros/edcMacros' as edcMacros %}
{# Optionally load in project-specific EDC macro overrides #}
{# {% import '_tiltrus/_project/edcMacros' as edcMacros %} #}

<div class="repeater-list-card">
{% for repeaterItem in repeaterData %}
<div class="repeater-list-item">
  <a href="{{ repeaterItem.url }}">
  <div class="item-wrapper">
	{% if repeaterItem['title'] is defined and repeaterItem.title|length %}
	  <{{ repeaterHeadingLevel }} {{ edcMacros.buildClasses('list-item-heading', repeaterListHeaderStyles) -}}>
		{{ gMacros.stripTags(repeaterItem.title, '<b><strong><i><em><br>') }}
	  </{{ repeaterHeadingLevel }}>
	{% endif %}
	{% if repeaterShowExcerpt and repeaterItem.excerpt|length %}
    <div class="list-item-excerpt-content">
    {{ repeaterItem.excerpt }}
    </div>
  {% endif %}
  </div>
  </a>
</div>
{% endfor %}
</div>