{#
/**
 * Repeater Template - Text 
 * -----
 * Simple cards with title, excerpt and link
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2020, TILT, LLC
 * @link      https://tiltbuilt.com
 * @package   tiltrus
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import 'bodyblocks/_core/_macros/globalMacros' as gMacros %}
{# Load in _core Tiltrus Element Display Controls macros #}
{% import 'bodyblocks/_core/_macros/edcMacros' as edcMacros %}
{# Optionally load in project-specific EDC macro overrides #}
{# {% import '_tiltrus/_project/edcMacros' as edcMacros %} #}

<ul class="repeater-list-text">
{% for repeaterItem in repeaterData %}	
	<li class="repeater-list-item {% if parentAnim %}anim-child{% endif %}">
	<{{ repeaterHeadingLevel }} {{ edcMacros.buildClasses('list-item-heading', repeaterListHeaderStyles) -}}>
	  <a href="{{ repeaterItem.url }}">{{ gMacros.stripTags(repeaterItem.title, '<b><strong><i><em><br>') }}</a>
	</{{ repeaterHeadingLevel }}>
    {% if repeaterShowExcerpt and repeaterItem.excerpt|length %}
      <div class="list-item-excerpt-content">
        {{ repeaterItem.excerpt }}
      </div>
    {% endif %}
	</li>	
{% endfor %}
</ul>