{% set alert = craft.entries().section('notificationBarAlerts').orderBy('postDate desc').one() %}
{% if alert %}
	<div class="topbar {{alert.notificationBarColor.class}}">
		  <div class="inner">
			<div class="topbar__content container px-normal py-base">
				  {% if alert.notificationAlertIcon.value|length %}
					  <div class="row flex-nowrap mx-negnormal items-center justify-start">
						<div class="column hidden md:block px-normal md:pr-3">							
							<div class="notification-bar-icon">
								{% if alert.notificationAlertIcon.type == 'svg' %}
									{{ alert.notificationAlertIcon.inline }}
								{% elseif alert.notificationAlertIcon.type == 'css' %}
									<i class="{{ alert.notificationAlertIcon }}"></i>								
								{% else %}
									<svg><use xlink:href="#{{ alert.notificationAlertIcon.value }}"></use></svg>
								{% endif %}
							</div>
						</div>
						<div class="column px-normal text-left pt-0 mt-0 md:pl-3">
							<h2 class="font-bold text-xl">{{alert.title}}</h2>
							{{ alert.notificationBarText|raw }}
						</div>
					</div>
				{% else %}
					<h2 class="font-bold text-xl">{{alert.title}}</h2>
					{{ alert.notificationBarText }}
				{% endif %}				
			</div>
		  </div>
	</div>
{% endif %}