{#
/**
* Tilt Boilermaker - Repeater Template - Card with Top Image
* -----
* Simple cards with title, excerpt and link
* 
#}

{# Load in global macros for use across all Twig templates #}
{% import '_macros/globalMacros' as gMacros %}

{% set cardClasses = ['repeater-card', 'w-full'] %}

{% if animate %}
	{% set cardClasses = cardClasses|merge(["animate"]) %}
{% endif %}

{% if cardRowSizes != null and cardRowSizes|length %}
	{% for rowSize in cardRowSizes %}
		{% set cardClasses = cardClasses|merge([rowSize.layoutSize ~ '/component:w-1/' ~ rowSize.numberOfCards]) %}
	{% endfor %}
{% endif %}

<div class="repeater-list-card-wrapper">	
	{% for listItem in listContent %}	
		{% if listItem.url != null and listItem.url|length %}
		   {% set outerTag = 'a' %}
		{% else %}
			{% set outerTag = 'div' %}
		{% endif %}
		
		<div class="{{ cardClasses|join(' ') }}">			
			<{{outerTag}} {% if listItem.url != null and listItem.url|length %}href="{{ listItem.url }}" {% if listItem.newTab %}target="_blank"{% endif %} {% endif %} class="repeater-card-inner">			
				<div class="repeater-card-sm-img w-full">					
					{% set image = listItem.image[0] %}
					{% set mobileXForm = 'image-' ~ gSettings.thumbAspectSm %}
					{% set xForm = 'image-' ~ gSettings.thumbAspectLg %}
					{% if craft.imager.serverSupportsWebp() %}
						{%- set mobileXForm = mobileXForm ~ '-webp' %}
						{%- set xForm = xForm ~ '-webp' %}
					{% endif %}
					{%- set mobileImages = craft.imagerx.transformImage(image, mobileXForm) %}
					{%- set mobileStartImage = mobileImages[0] %}
					{%- set largerImages = craft.imagerx.transformImage(image, xForm) %}
					{%- set largerStartImage = largerImages[0] %}
											
					<img src="{{ craft.imager.placeholder({width: mobileStartImage.width, height: mobileStartImage.height}) }}"
					  width="{{mobileStartImage.width}}"
					  height="{{mobileStartImage.height}}"
					  data-sizes="auto"
					  data-src="{{ mobileStartImage }}"
					  data-srcset="{{ craft.imager.srcset(mobileImages) }}"
					  alt="{{ entry.title }}"
					  class="block object-cover w-full @md/component:hidden"
					  loading="lazy"
					>
							
					<img src="{{ craft.imager.placeholder({width: largerStartImage.width, height: largerStartImage.height}) }}"
					  width="100%"
					  height="100%"
					  data-sizes="auto"
					  data-src="{{ largerStartImage }}"
					  data-srcset="{{ craft.imager.srcset(largerImages) }}"
					  alt="{{ entry.title }}"
					  class="hidden w-full h-full object-cover @md/component:block"
					  loading="lazy"
					>
				</div>
				
				<div class="repeater-card-content w-full">
					<{{ headingLvl}} class="repeater-list-card-header">					
						{{ gMacros.stripTags(listItem.title, '<b><strong><i><em><sup><sub><br>') }}					  
					</{{ headingLvl }}>
					{% if showDate and listItem.date|length %}	  		
						<div class="repeater-date">{{ listItem.date }}</div>	 
					{% endif %}
					{% if showExcerpt and listItem.excerpt|length %}	  		
						<div>{{ listItem.excerpt }}</div>	  				 
					{% endif %}	
				</div>				
			</{{outerTag}}>			        
		</div>	
	{% endfor %}
</div>
