{#
/**
 * Tilt Boilermaker -Multi Card Slider Repeater Template
 * -----
 * Loads the appropriate page partial or the default
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import '_macros/globalMacros' as gMacros %}

{% set cardClasses = ['repeater-card', 'w-full'] %}

{% set countValues =  {
	'df': 1,	
	'@xs': null,
	'@sm': null,
	'@md': null,
	'@lg': null,
	'@xl': null,
	'@2xl': null,	
} %}

{% set countSizes =  {
	'df': 0,	
	'@xs': 290,
	'@sm': 610,
	'@md': 738,
	'@lg': 994,
	'@xl': 1250,
	'@2xl': 1506,	
} %}


{% if cardRowSizes != null and cardRowSizes|length %}
	{% for rowSize in cardRowSizes %}
		{% if rowSize.layoutSize == '' %}
			{% set cardClasses = cardClasses|merge(['w-1/' ~ rowSize.numberOfCards]) %}
			{% set countValues = countValues|merge({'df': rowSize.numberOfCards}) %}
		{% else %}
			{% set cardClasses = cardClasses|merge([rowSize.layoutSize ~ ':w-1/' ~ rowSize.numberOfCards]) %}
			{% set countValues = countValues|merge({ (rowSize.layoutSize) : rowSize.numberOfCards }) %}
		{% endif %}
	{% endfor %}
{% endif %}

{# set sizes attribute #}
{% set sizesAttr = '' %}
{% for key,value in countValues|reverse %}
	{% if value != null %}
		{% if key != 'df' %}
			{% set sizesAttr = sizesAttr ~ "(min-width:" ~ countSizes[key] ~ "px) calc(80vw / " ~ value ~ "), " %}
		{% else %}
			{% if value != 1 %}
				{% set sizesAttr = sizesAttr ~ "calc(90vw / " ~ value ~ ")" %}
			{% else %}
				{% set sizesAttr = sizesAttr ~ "90vw" %}
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}


<div id="{{blockId}}" class="slider-set repeater-slider repeater-slider-multi {{colorScheme}} {% if animate %}animate{% endif %}"
{% if listContent|length > 1 %}
x-data="{swiper: null}"
x-init="swiper = new Swiper($refs.container, {
	loop: true,
	slidesPerView: 1,
	breakpointsBase: 'container',
	spaceBetween: 0,	
	noSwipingSelector: 'a',
	breakpoints: {
	{% for size in cardSliderSizes %}
		{{size.layoutSize}}: {
			slidesPerView: {{size.numberOfCards}},			
		},
	{% endfor %}
	},
	{% if sliderAutoPlay %}
		autoplay: {
			delay: {{sliderTiming}},
			disableOnInteraction: false,
			speed: 600,
		},
	{% endif %}
	{% if sliderEffect == 'fade' %}
		effect: 'fade',
		fadeEffect: {
			crossFade: true,
		},
	{% endif %}
	{% if (sliderButtons) and (listContent|length > 1)  %}
		navigation: {
			nextEl: '#{{blockId}}-next',
			prevEl: '#{{blockId}}-prev',
		},
	{% endif %}
	{% if (sliderDots) and (listContent|length > 1)  %}
		pagination: {
			el: '#{{blockId}}-pagination',
			clickable: true,
		}
	{% endif %}  
	});"
{% endif %}
>
	<div class="relative">
	<div class="swiper-container" {% if listContent|length > 1 %}x-ref="container"{% endif %} id="{{ blockId  ~ '-swiper'}}">
		<div class="swiper-wrapper">
			{% for listItem in listContent %}
				<div id="{{blockId}}-slide{{loop.index}}" class="repeater-card w-full swiper-slide">					
					{% if listItem.url != null and listItem.url|length %}
					   {% set outerTag = 'a' %}
					{% else %}
						{% set outerTag = 'div' %}
					{% endif %}
					<{{outerTag}} {% if listItem.url|length %}href="{{ listItem.url }}" {% if listItem.newTab %}target="_blank"{% endif %} {% endif %} class="repeater-card-inner">			
						<div class="repeater-card-sm-img w-full">					
							{% set image = listItem.image[0] %}
							{% if gSettings.thumbAspectLg == '' or gSettings.thumbAspectLg == 'auto' %}
								{% set xForm = 'contentImage' %}
								{% set xFormWidth = image.width %}
								{% set xFormHeight = image.height %}
							{% else %}
								{% if gSettings.thumbAspectLg == 'video' %}
									{% set numerator = 16 %}
									{% set denominator = 9 %} 
								{% elseif gSettings.thumbAspectLg == 'square' %}
									{% set numerator = 1 %}
									{% set denominator = 1 %} 
								{% else %}
									{% set numerator = gSettings.thumbAspectLg.value|split('/')|first %}
									{% set denominator = gSettings.thumbAspectLg.value|split('/')|last %}        
								{% endif %}

								{% set xForm = 'image-' ~ gSettings.thumbAspectLg %}
								{% set xFormWidth = image.width %}
								{% set xFormHeight = (image.width * denominator) / numerator %}
							{% endif %}

							{% if craft.imager.serverSupportsWebp() %}						
								{%- set xForm = xForm ~ '-webp' %}
							{% endif %}
							
							{%- set xFormImages = craft.imagerx.transformImage(image, xForm) %}
							
							<img src="{{ craft.imager.placeholder({width: xFormWidth, height: xFormHeight}) }}"
								width="{{xFormWidth}}"
								height="{{xFormHeight}}"
								sizes="{{sizesAttr}}"						    
								srcset="{{ craft.imager.srcset(xFormImages) }}"
								alt="{{ entry.title }}"
								class="block w-full object-cover object-center"
								loading="lazy"
								decoding="async"
							>			
							
						</div>
						
						<div class="repeater-card-content w-full">
							<{{ headingLvl}} class="repeater-list-card-header">					
								{{ gMacros.stripTags(listItem.title, '<b><strong><i><em><sup><sub><br>') }}					  
							</{{ headingLvl }}>
							{% if showDate and listItem.date|length %}	  		
								<div class="repeater-date">{{ listItem.date }}</div>	 
							{% endif %}
							{% if showExcerpt and listItem.excerpt|length %}	  		
								<div>{{ listItem.excerpt }}</div>	  				 
							{% endif %}	
						</div>				
					</{{outerTag}}>	
									
				</div>
			{% endfor %}
		</div>
	</div>
	
	{% if (sliderButtons) and (listContent|length > 1)  %}
		<button class="swiper-button-prev" @click="swiper.slidePrev()" id="{{blockId}}-prev">
			{% if gSettings.sliderPreviousIcon|length %}
				{% if gSettings.sliderPreviousIcon.type == 'svg' %}
					{{ gSettings.sliderPreviousIcon.inline }}
				{% elseif gSettings.sliderPreviousIcon.type == 'css' %}
					<i class="{{ gSettings.sliderPreviousIcon }}"></i>								
				{% else %}
					<svg><use xlink:href="#{{ gSettings.sliderPreviousIcon.value }}"></use></svg>
				{% endif %}
			{% else %}
				<svg><use xlink:href="#icon-angle-left"></use></svg>
			{% endif %}
		</button>
		
		<button class="swiper-button-next" @click="swiper.slideNext()" id="{{blockId}}-next">
			{% if gSettings.sliderNextIcon|length %}
				{% if gSettings.sliderNextIcon.type == 'svg' %}
					{{ gSettings.sliderNextIcon.inline }}
				{% elseif gSettings.sliderNextIcon.type == 'css' %}
					<i class="{{ gSettings.sliderNextIcon }}"></i>								
				{% else %}
					<svg><use xlink:href="#{{ gSettings.sliderNextIcon.value }}"></use></svg>
				{% endif %}
			{% else %}
				<svg><use xlink:href="#icon-angle-right"></use></svg>
			{% endif %}
		</button>
	{% endif %}
	</div>
	{% if (sliderDots) and (listContent|length > 1)  %}
		<div class="swiper-pagination" id="{{blockId}}-pagination"></div>
	{% endif %}
</div>