{#
/**
 * Layout partial
 * -----
 * This template defines the site’s global layout and handles loading in
 * site-wide macros.
 * 
 * @author    TILT, LLC <support@tiltbuilt.com>
 * @copyright Copyright (c) 2019, TILT, LLC
 * @link      https://tiltbuilt.com
 */
#}

{# Load in global macros for use across all Twig templates #}
{% import 'bodyblocks/_core/_macros/globalMacros' as gMacros %}
{# Load in _core Tiltrus Element Display Controls macros #}
{% import 'bodyblocks/_core/_macros/edcMacros' as edcMacros %}
{# Optionally load in project-specific EDC macro overrides by calling it edcMacros and loading in here #}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="home" href="{{ siteUrl }}" />

  {# SEOMatic handles title and SEO-related meta data #}
  {% hook 'seomaticRender' %}

  {# Inject meta tags created by favicons #}
  
  
  
	{# LOADER STYLES INLINE #}
	
	<style>
		#loader {
		  display: flex;
		  flex-direction: row;
		  width: 100vw;
		  height: 100vh;
		  position: fixed;
		  background-color: #000;
		  top: 0px;
		  left: 0px;
		  z-index: 9999999;
		  box-sizing: border-box;		  
	  }
	  
	  .pageloaded #loader {
		  display: none;
		  width: 0px;
		  height: 0px;
		  z-index: -9999;
		  overflow: hidden;
		  left: -10px;
		  top: -10px;
	  }
	  /*
	  .loader-inner {
		  width: 120px;
		  height: 120px;
		  position: fixed;
		  top: 50%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		  box-sizing: border-box;
		  
	  }
	  
	  .loader-circle {
		  border: 8px solid #EDF2F7; 
		  border-top: 8px solid #a5ce3a; 
		  border-radius: 50%;
		  width: 120px;
		  height: 120px;
		  animation: spin 1.5s linear infinite;
		  position: absolute;
		  top: 0px;
		  left: 0px;
		  box-sizing: border-box;		
	  }
	  
	  .loader-icon {
		  display: block;
		  position: absolute;
		  z-index: 10;
		  width: 60px;
		  height: auto;
		  left: 50%;
		  top: 50%;
		  transform: translate(-50%, -50%);
		  box-sizing: border-box;
	  }
	  
	  @keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	  }
	  */
	  
	</style>

  {{ gSettings.headerEmbeds|raw }}

  {{ gMacros.entryHeaderEmbeds(entry ??? category ??? null) }}
</head>

<body id="{{ block('pageId') }}" {% if block('bodyAttr') is defined %}{{block('bodyAttr')}}{% endif %}>	
  <!--[if lte IE 10]>
	<div style="padding: 1.0em; margin-bottom: 1.0em; background-color: #0077CC; color: #FFF; font-size: 18px;">
	  <p>
		We are sorry, your web browser is outdated and is not supported by this website. Please consider upgrading to a newer, more secure web browser (such as <a href="https://www.mozilla.org/en-US/firefox/" style="color: #FFF;">Mozilla Firefox</a>) or visiting from a different device with a newer browser to have a better experience on this website.
	  </p>
	</div>
	<style type="text/css">
	  .loader { display: none; z-index: 0; visibility: hidden; opacity: 0; }
	</style>
  <![endif]-->
  {{ craft.iconPicker.spritesheet('ui-svg-sprites.svg') }} 

  {# Break the chain to disable the loader entirely #}
	{% if 1==1==1 %}
	  {# Break the chain to disable the loader in Live Preview only #}
	  {% if 1==1==1 or not craft.app.request.isPreview %}
		{# Page loader element #}
		<div id="loader">
		  <!--
		  <div class="loader-inner">
			  <img src="/dist/img/loader-icon.svg" alt="Loading" class="loader-icon">
			  <div class="loader-circle"></div>
		  </div>
	  -->		
		</div>
	  {% endif %}
	{% endif %}
	
<div id="page-wrapper">
  <div id="login-status-bar-wrapper"></div>
  <div class="wrapper" id="wrapper">

	{% if gSettings.notificationBarCopy|length %}
	  <div class="header_topbar">
		<div class="topbar">
		  <div class="inner">
			<div class="topbar__content">
			  {{ gSettings.notificationBarCopy }}
			</div>
		  </div>
		</div>
	  </div>
	{% endif %}

	<header class="header" id="header">
	  <div class="inner">

		<div class="header__logo">
		  <a href="{{ siteUrl }}" title="{{ siteName }}">
			<!--svg logo here -->
		  </a>
		</div>

		
		{# Mobile menu button #}
		<button id="btn-mm" class="btn-mm">
			<span class="btn-mm-openstate"><svg><use xlink:href="#icon-bars"></use></svg></span>
			<span class="btn-mm-closestate"><svg><use xlink:href="#icon-close"></use></svg></span>
		</button>
		 

		{# Menu wrapper #}
		<div id="mm_wrapper" class="mm_wrapper">
		  <div id="main_menu" class="main_menu">
			<ul>
			  {# Render the `Main Menu` Navigation using the standard template #}
			  {% set mainMenuNodes = craft.navigation.nodes().handle('mainMenu').level(1).all() %}
			  {% include '_partials/menus/standard' with { 'menuNodes': mainMenuNodes, 'headerLevel': 'div', 'baseClassName': 'main-menu', 'hasDrop': true } %}
			</ul>
		  </div>
		  <div id="secondary_menu" class="secondary_menu">
			<ul>
			  {# Render the `Secondary Menu` Navigation using the standard template #}
			  {% set secondaryMenuNodes = craft.navigation.nodes().handle('secondaryMenu').level(1).all() %}
			  {% include '_partials/menus/standard' with { 'menuNodes': secondaryMenuNodes, 'headerLevel': 'div', 'baseClassName': 'secondary-menu', 'hasDrop': false } %}
			</ul>
		  </div>
		  <div class="mm_wrapper__bg"></div>
		</div>

	  </div>
	</header>

	<div class="root" id="root">
	  <main class="main" id="main">
		{% if block('pageHeader') is defined %}
		  {{ block('pageHeader') }}
		{% endif %}
		
		{% if block('pageContent') is defined %}
		  {{ block('pageContent') }}
		{% endif %}
	  </main>

	  <footer class="footer" id="footer">
		{% if block('pageFooter') is defined %}
		  {{ block('pageFooter') }}
		{% endif %}
	  </footer>
	</div>

  </div>
</div>

{% if block('modalContent') is defined %}
	{{ block('modalContent') }}
{% endif %}
  
  {# Main CSS with cachebuster plugin #}
  {{ craft.twigpack.includeCssModule("/css/app.css") }}

  <noscript>
	<style type="text/css">
	  .loader {
		display: none;
		z-index: 0;
		visibility: hidden;
		opacity: 0;
	  }
	</style>
  </noscript>

 
  {{ craft.twigpack.includeJsModule("/js/app.js") }}

  {#
	Optional SVG Resources, wrapped in <g>'s with unique IDs so we can
	<use xlink:href="#id" href="#id"></use> them to achieve complex hover effects and
	whatnot, which external SVGs can't really do.
  #}
  {#
	<div class="svg_resources" style="height: 0; width: 0; position: absolute; visibility: hidden; overflow: hidden;"></div>
  #}

  {{ gSettings.footerEmbeds|raw }}

  {{ gMacros.entryFooterEmbeds(entry ??? category ??? null) }}
</body>
</html>
